In [39]:
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
import pandas as pd
from numpy import int16

In [40]:
dreams_mastersheet = pd.read_excel("../LayeringOF_services.xlsx")
eligibility = pd.read_excel("../eligibility.xlsx")
survey_data = pd.read_excel("../survey_data/survey_data.xlsx")

## DO the AUdit given the required case_id

In [41]:
the_audit_data = {
    'case_id': [
        "0efe7ebe-832a-4624-91d5-45e8ed8dd911",
        "db25fe5c-3b0d-453a-9c78-667efa164313",
        "4d985c34-29cc-4584-aa6e-11f2ade3f3b3",
        "279d76bc-a595-48f7-9fe8-311271e3caa2",
        "5ec08b75-3c2a-4fc5-be9e-7127fbdc74ac",
        "3a7ca127-bda7-440f-bdfe-292cdded7914",
        "de2a10f4-2e5f-4e1f-92e9-9f41f165597c",
        "67708617-92e0-4e5c-84eb-555631beff96",
        "17924995-7ae0-4ca9-8f27-5d5dd3279944",
        "1e664902-e980-479b-8373-7c4575a13087",
        "7d8720f1-d9ec-40c1-bbc1-557ef9b8982e"
    ]
}

In [42]:
audit_data = pd.DataFrame.from_dict(the_audit_data,orient="columns")
audit_data

                                 case_id
0   0efe7ebe-832a-4624-91d5-45e8ed8dd911
1   db25fe5c-3b0d-453a-9c78-667efa164313
2   4d985c34-29cc-4584-aa6e-11f2ade3f3b3
3   279d76bc-a595-48f7-9fe8-311271e3caa2
4   5ec08b75-3c2a-4fc5-be9e-7127fbdc74ac
5   3a7ca127-bda7-440f-bdfe-292cdded7914
6   de2a10f4-2e5f-4e1f-92e9-9f41f165597c
7   67708617-92e0-4e5c-84eb-555631beff96
8   17924995-7ae0-4ca9-8f27-5d5dd3279944
9   1e664902-e980-479b-8373-7c4575a13087
10  7d8720f1-d9ec-40c1-bbc1-557ef9b8982e

In [43]:
verification_audit_dreamsMastersheet = audit_data.merge(dreams_mastersheet,on="case_id",how='left')
verification_audit_dreamsMastersheet

,case_id,main_id,muso_eligibility,actual_id_group,group_she_take_sessions,code,last_name,first_name,dob,age,...,condoms,vbg,gyneco,post_care_treatment,socio_eco_app,recevoir_1services,ps_10_14,ps_15_19,ps_20_24,score_eligible_AGYW
0,0efe7ebe-832a-4624-91d5-45e8ed8dd911,78511.0,no17,1151.0,"1151,",PAP/DRMS/037114101,Bruné,Junie,2006-06-24,14.0,...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible
1,db25fe5c-3b0d-453a-9c78-667efa164313,81084.0,no17,806.0,"806,",GON/DRMS/060080611,Fleuris,Rodena,2007-01-20,14.0,...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible
2,4d985c34-29cc-4584-aa6e-11f2ade3f3b3,100024.0,no17,1771.0,NaN,CAP/DRMS/063177101,Louis,Rose-laure,2008-06-13,12.0,...,errata,errata,errata,no,no,no,incompletcomplet|non-recu,no,no,eligible
3,279d76bc-a595-48f7-9fe8-311271e3caa2,82729.0,no17,1435.0,"1435,",GON/DRMS/065143534,Jean,Darline,2004-04-08,17.0,...,tested_on_given_date,errata,errata,no,service_muso_gardening,1_services_dreams_recus,curriculum-servis,condoms&curriculum,no,eligible
4,5ec08b75-3c2a-4fc5-be9e-7127fbdc74ac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3a7ca127-bda7-440f-bdfe-292cdded7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,de2a10f4-2e5f-4e1f-92e9-9f41f165597c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,67708617-92e0-4e5c-84eb-555631beff96,96091.0,no17,2040.0,"2040,",PAP/DRMS/039204008,Fieffé,Mirlanda,2006-12-12,14.0,...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible
8,17924995-7ae0-4ca9-8f27-5d5dd3279944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1e664902-e980-479b-8373-7c4575a13087,79518.0,no17,1239.0,"1239,",GON/DRMS/067106105,Nateus,Berlanda,2008-04-26,13.0,...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible
10,7d8720f1-d9ec-40c1-bbc1-557ef9b8982e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
verification_audit_eligibility = audit_data.merge(eligibility,on="case_id",how='left')
verification_audit_eligibility

,case_id,dreams_code,organisation,id,phone,not_selectable,first_name,last_name,dob,interview_date,...,id_group,hub_name,id_hub,eske_ou_lekol_deja,depi_kile_ou_pa_al_lekol_with_label,c61_depi_ki_l_ou_pa_al_lekl_ank,c6_ske_ou_te_oblije_double_deja,kiyes_ki_peye_lekol_pou_ou,age,kpi_score
0,0efe7ebe-832a-4624-91d5-45e8ed8dd911,PAP/DRMS/037114101,CARIS,0efe7ebe-832a-4624-91d5-45e8ed8dd911,37674951,1.0,Junie,Bruné,2006-06-24,2020-07-25,...,1151.0,Collège Maranatha de Bertin\t,37.0,oui,NaN,NaN,1.0,Manman/papa,14.0,28.0
1,db25fe5c-3b0d-453a-9c78-667efa164313,GON/DRMS/060080611,CARIS,db25fe5c-3b0d-453a-9c78-667efa164313,NaN,1.0,Rodena,Fleuris,2007-01-20,2020-07-09,...,806.0,Ecole Mixte Benito Merilus/Desarmes,60.0,oui,NaN,NaN,1.0,Lòt fanmi,13.0,28.0
2,4d985c34-29cc-4584-aa6e-11f2ade3f3b3,CAP/DRMS/063177101,CARIS,4d985c34-29cc-4584-aa6e-11f2ade3f3b3,44848825,1.0,Rose-laure,Louis,2008-06-13,2020-08-06,...,1771.0,Ecole Nationale de Blue Hills,63.0,oui,NaN,NaN,0.0,Manman/papa,12.0,26.0
3,279d76bc-a595-48f7-9fe8-311271e3caa2,GON/DRMS/065143534,CARIS,279d76bc-a595-48f7-9fe8-311271e3caa2,NaN,1.0,Darline,Jean,2004-04-08,2020-08-09,...,1435.0,Ecole Nationale de Desdunes,65.0,oui,NaN,NaN,1.0,Lot Fanmi,16.0,30.0
4,5ec08b75-3c2a-4fc5-be9e-7127fbdc74ac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3a7ca127-bda7-440f-bdfe-292cdded7914,NaN,CARIS,3a7ca127-bda7-440f-bdfe-292cdded7914,38538610,0.0,Medelie,Joachin,2007-01-25,2020-07-06,...,NaN,NaN,NaN,oui,NaN,NaN,1.0,Manman/papa,13.0,22.0
6,de2a10f4-2e5f-4e1f-92e9-9f41f165597c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,67708617-92e0-4e5c-84eb-555631beff96,PAP/DRMS/039204008,CARIS,67708617-92e0-4e5c-84eb-555631beff96,46393420,1.0,Mirlanda,Fieffé,2006-12-12,2020-07-23,...,2040.0,Institution Classique Sandaire Choubert \t,39.0,oui,NaN,NaN,1.0,Manman/papa,13.0,26.0
8,17924995-7ae0-4ca9-8f27-5d5dd3279944,NaN,CARIS,17924995-7ae0-4ca9-8f27-5d5dd3279944,34075496,0.0,Daylie,Sainflert,2007-11-18,2020-07-21,...,NaN,NaN,NaN,oui,NaN,NaN,1.0,Zanmi,12.0,28.0
9,1e664902-e980-479b-8373-7c4575a13087,GON/DRMS/067106105,CARIS,1e664902-e980-479b-8373-7c4575a13087,35544477,1.0,Berlanda,Nateus,2008-04-26,2020-08-22,...,1239.0,Ecole Nationale Louis Lamartinère,67.0,oui,NaN,NaN,1.0,Manman/papa,12.0,27.0
10,7d8720f1-d9ec-40c1-bbc1-557ef9b8982e,NaN,CARIS,7d8720f1-d9ec-40c1-bbc1-557ef9b8982e,36817213,0.0,Michaëlle,Jean,2004-07-02,2020-07-30,...,NaN,NaN,NaN,oui,NaN,NaN,0.0,Manman/papa,16.0,22.0

In [49]:
verification_audit_survey_data = audit_data.merge(survey_data,on="case_id",how='left')
verification_audit_survey_data

,case_id,organisation,first_name,last_name,dob,interview_date,adress,commune,commune_section,interviewer_firstname,interviewer_lastname,is_your_parent_alive,mothers_name,fathers_name,who_is_your_law_parent,total,is_eligible_for_dep_hiv,age,already_in_a_group
0,0efe7ebe-832a-4624-91d5-45e8ed8dd911,CARIS,Junie,Bruné,2006-06-24 00:00:00,2020-07-25,Titus,carrefour,NaN,Nadine,Luberusse,0.0,Janette,JnbAnel,NaN,23.0,NO,14.0,yes
1,db25fe5c-3b0d-453a-9c78-667efa164313,CARIS,Rodena,Fleuris,2007-01-20 00:00:00,2020-07-09,Duval,verrettes,NaN,Lovelyne,Merilus,0.0,Altidor Jislène,Fleuris Odène,Jislène,21.0,NO,13.0,yes
2,4d985c34-29cc-4584-aa6e-11f2ade3f3b3,CARIS,Rose-laure,Louis,2008-06-13 00:00:00,2020-08-06,Cité Blue-Hills ruelle Alexandre,cap-hatien,haut_du_cap,Kerlande,Alexis,0.0,Lineda Noël,Melodieu Louis,NaN,19.0,NO,12.0,yes
3,279d76bc-a595-48f7-9fe8-311271e3caa2,CARIS,Darline,Jean,2004-04-08 00:00:00,2020-08-09,lacoumet,desdunes,desdunes,lorina,previlon,0.0,Fedena stphard,Durene Jean,Mariane st phard,23.0,YES,16.0,yes
4,5ec08b75-3c2a-4fc5-be9e-7127fbdc74ac,CARIS,Dalie,passience,2005-03-04 00:00:00,2020-07-03,kfou fey,port-au-prince,NaN,Miclene,pierre,2.0,forcelis cherania,NaN,forcelis,13.0,YES,15.0,no
5,3a7ca127-bda7-440f-bdfe-292cdded7914,CARIS,Medelie,Joachin,2007-01-25 00:00:00,2020-07-06,Gran platon kabasa,cap-hatien,haut_du_cap,Plyviose,Exilhomme,0.0,Nounoune Dolcema,Joachim Josias,papa,28.0,NO,13.0,no
6,de2a10f4-2e5f-4e1f-92e9-9f41f165597c,CARIS,Alancia,Senatus,2005-01-09 00:00:00,2020-07-17,Dauphine,grande-saline,NaN,Fenide,Sévère,0.0,Marie-Bertha,Alex,NaN,12.0,YES,15.0,no
7,67708617-92e0-4e5c-84eb-555631beff96,CARIS,Mirlanda,Fieffé,2006-12-12 00:00:00,2020-07-23,"Mahotière 79, Bwadjout",carrefour,NaN,Tamar,Fieffé,2.0,Sanon Mirlene,NaN,NaN,36.0,NO,13.0,yes
8,17924995-7ae0-4ca9-8f27-5d5dd3279944,CARIS,Daylie,Sainflert,2007-11-18 00:00:00,2020-07-21,mònRouj,plaine-du-nord,NaN,Dady,Docteur,2.0,Leonise Pierre,NaN,Leonise Pierre,24.0,NO,12.0,no
9,1e664902-e980-479b-8373-7c4575a13087,CARIS,Berlanda,Nateus,2008-04-26 00:00:00,2020-08-22,dofouno,petite_rivire_de_lartibonite,labady,Marie Lysandra,Pierre-Louis,2.0,belisna,NaN,NaN,42.0,NO,12.0,yes
10,7d8720f1-d9ec-40c1-bbc1-557ef9b8982e,CARIS,Michaëlle,Jean,2004-07-02 00:00:00,2020-07-30,Balan,cap-hatien,bois_de_lance,Miline,Frazeur,0.0,Silotte zephyr,Yves,Manman,21.0,YES,16.0,no

In [50]:
fy20 = pd.ExcelWriter('fy20.xlsx',engine='xlsxwriter')
verification_audit_dreamsMastersheet.to_excel(fy20,sheet_name='dreams_servis')
verification_audit_eligibility.to_excel(fy20,sheet_name='eligibility_info')
verification_audit_survey_data.to_excel(fy20,sheet_name='survey_data_info')
fy20.save()