In [1]:
import pandas as pd
import numpy as np

## Girl Screened - services / eligibility

In [2]:
eligibility = pd.read_excel('./eligibility.xlsx',sheet_name='code')
survey_data = pd.read_excel('./survey_data.xlsx',sheet_name='screening_Q1-Q3FY21')

In [3]:
eligibility.shape

(5116, 2)

In [4]:
survey_data.shape

(6023, 19)

In [5]:
eligibility.fillna("NULL",inplace=True)
survey_data.fillna("NULL",inplace=True)

In [6]:
screener_periode_Q1Q3FY21 = survey_data.merge(eligibility,on='case_id',how='left')

In [7]:
dreams_servis = pd.read_excel("./LayeringOF_services.xlsx")

## Le nombre de Screening pour la periode

In [8]:
screener_periode_Q1Q3FY21.rename(columns={"dreams_code":"code"},inplace=True)

In [9]:
screener_periode_Q1Q3FY21.case_id.count()

6023

In [10]:
eligible_periode_Q1Q3FY21 = screener_periode_Q1Q3FY21[screener_periode_Q1Q3FY21.total>= 14]

In [11]:
eligible_periode_Q1Q3FY21.case_id.count()

5100

## Survey_data With Code

In [12]:
eligible_periode_Q1Q3FY21_with_code = eligible_periode_Q1Q3FY21[eligible_periode_Q1Q3FY21.code!="NULL"]

In [13]:
eligible_periode_Q1Q3FY21_with_code.code.count()

2347

## Survey data with No Code

In [14]:
eligibile_periode_Q1Q3FY21_Without_Code = eligible_periode_Q1Q3FY21[eligible_periode_Q1Q3FY21.code=="NULL"]

In [15]:
eligibile_periode_Q1Q3FY21_Without_Code.code.count()

2753

## LayeringOS

In [16]:
unefois_servis = pd.read_excel("./LayeringOS.xlsx",sheet_name="1_services")
unefois_servis_Q1Q3fy21 = pd.read_excel("./LayeringOS.xlsx",sheet_name="1_services_Q1Q3FY21")
unefois_servis.fillna("NULL",inplace=True)
unefois_servis_Q1Q3fy21.fillna("NULL",inplace=True)

In [17]:
unefois_servis.code.count()

18556

In [18]:
unefois_servis_Q1Q3fy21.code.count()

2318

In [19]:
code_servis_unefois_Q1Q3fy21 = pd.DataFrame({'code':unefois_servis_Q1Q3fy21.code})

In [20]:
search_servis_again = code_servis_unefois_Q1Q3fy21.merge(unefois_servis,how="left", on='code')

In [21]:
search_servis_again.to_excel('search_servis_again.xlsx',index=False, na_rep="NULL")

In [22]:
search_servis_again

,code,main_id,muso_eligibility,actual_id_group,group_she_take_sessions,last_name,first_name,dob,age,number_of_different_topic,...,condoms,vbg,gyneco,post_care_treatment,socio_eco_app,recevoir_1services,ps_10_14,ps_15_19,ps_20_24,score_eligible_AGYW
0,PAP/DRMS/039203934,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GON/DRMS/086207810,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAP/DRMS/032209801,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GON/DRMS/059209905,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GON/DRMS/059209906,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,GON/DRMS/058245560,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314,GON/DRMS/058245564,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2315,GON/DRMS/058245569,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2316,GON/DRMS/058245570,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2317,GON/DRMS/058245574,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN