In [1]:
import pandas as pd 
import numpy as np

In [5]:
dreams_servis = pd.read_excel("LayeringOF_services.xlsx")
quick = pd.read_excel("quick.xlsx",sheet_name="Sheet1")

In [7]:
dreams_servis.fillna("null",inplace=True)

In [12]:
quick.rename(columns = {"Code Dreams": "code"},inplace=True)

In [20]:
dreams_servis.drop(["main_id",	"muso_eligibility",	"actual_id_group",	"group_she_take_sessions"],axis='columns',inplace=True)

In [22]:
information_Sophonie = dreams_servis.merge(quick,on='code',how='right')

In [23]:
information_Sophonie

,code,last_name,first_name,dob,age,number_of_different_topic,first_session_date,last_session_date,last_hiv_test_date,test_results,...,condoms,vbg,gyneco,post_care_treatment,socio_eco_app,recevoir_1services,ps_10_14,ps_15_19,ps_20_24,score_eligible_AGYW
0,GON/DRMS/055192817,Gabriel,Sophonie,2005-01-20 00:00:00,16,17,2020-08-03 00:00:00,2020-08-07 00:00:00,0000-00-00,"0,",...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible
1,PAP/DRMS/028151602,Gabriel,Sophonie,2001-09-27 00:00:00,19,18,2020-06-01 00:00:00,2020-06-01 00:00:00,0000-00-00,"0,",...,errata,errata,errata,no,no,1_services_dreams_recus,curriculum-servis,no,no,eligible

In [25]:
information_Sophonie.to_excel('info_sophonie.xlsx',index=False,na_rep="null")