In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : [1, 2, 3, 3, 4, 4, 5, 6, 7],
                   'B' : ['a','b','c','c','d','d','e','f','g'],
                   'Col_1' :[np.NaN, 'A','A', np.NaN, 'B', np.NaN, 'B', np.NaN, np.NaN],
                   'Col_2' :[2,2,3,3,3,3,4,4,5]})
df

   A  B Col_1  Col_2
0  1  a   NaN      2
1  2  b     A      2
2  3  c     A      3
3  3  c   NaN      3
4  4  d     B      3
5  4  d   NaN      3
6  5  e     B      4
7  6  f   NaN      4
8  7  g   NaN      5

In [6]:
df[~((df[['A', 'B']].duplicated(keep=False)) & (df.isnull().any(axis=1)))]

   A  B Col_1  Col_2
0  1  a   NaN      2
1  2  b     A      2
2  3  c     A      3
4  4  d     B      3
6  5  e     B      4
7  6  f   NaN      4
8  7  g   NaN      5

In [9]:
df[~df.isnull().any(axis=1)]

   A  B Col_1  Col_2
1  2  b     A      2
2  3  c     A      3
4  4  d     B      3
6  5  e     B      4

In [3]:
df.sort_values(['A', 'B', 'Col_1']).drop_duplicates(['A', 'B'], keep='first')

   A  B Col_1  Col_2
0  1  a   NaN      2
1  2  b     A      2
2  3  c     A      3
4  4  d     B      3
6  5  e     B      4
7  6  f   NaN      4
8  7  g   NaN      5