In [1]:
from IPython.core.interactiveshell import InteractiveShell
from dataframe_image import export
import openpyxl
from pandas import (
    Int32Dtype,
    ExcelWriter
)


from agyw_enrolled import (
    total_en,
    agyw_en,
    sdata
)
from en_helpers import (
    name_handler,
    commune_to_department
)



InteractiveShell.ast_node_interactivity = "all"

In [2]:
total_en.total = total_en.total.astype(Int32Dtype())
total_en_mh = total_en.style.highlight_max()
export(total_en_mh,'total_enrolement.png')
total_en_mh

/usr/local/lib/python3.10/site-packages/dataframe_image/_pandas_accessor.py:69: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  html = '<div>' + obj.render() + '</div>'
[0401/142740.735462:INFO:headless_shell.cc(659)] Written to file /var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/tmp25z1r9i9/temp.png.

In [3]:
agyw_en.case_id.count()
sdata.case_id.count()

5384

66206

In [4]:
case_agywEN = agyw_en [['case_id']]
case_agywEN.case_id.count()

5384

In [5]:
agywEN_found = case_agywEN.merge(sdata,how='left',on='case_id')
agywEN_found.case_id.count()

5384

In [6]:
agywEN_found.commune = agywEN_found.commune.str.lower()
agywEN_found['commune_handled'] = agywEN_found.loc[:,'commune'].apply(name_handler)
agywEN_found['department'] = agywEN_found.loc[:,'commune_handled'].apply(commune_to_department)

In [7]:
agywEN_found.commune_handled.unique()
agywEN_found.actual_departement.unique()
agywEN_found.department.unique()

array(['petion_ville', 'kenscoff', 'carrefour', 'dessalines', 'verrettes',
       'saintmarc', 'la_chapelle', 'limonade', 'portauprince', 'delmas',
       'caphatien', 'quartiermorin', 'liancourt', 'gressier',
       'grandesaline', 'montrouis', 'petite_rivire_de_lartibonite',
       'desdunes', 'tabarre', 'plainedunord', 'milot', 'chantal',
       'granderiviredunord', 'troudunord'], dtype=object)

array([None, 'Ouest', 'Artibonite', 'Nord'], dtype=object)

array(['Ouest', 'Artibonite', 'Nord', 'Sud'], dtype=object)

In [9]:
department_agywEN = agywEN_found.pivot_table(
    values="case_id",
    index="department",
    aggfunc="count",
    margins=True,
    margins_name="Total"
)
department_agywEN_mh = department_agywEN.style.highlight_max()
department_agywEN_mh
export(department_agywEN_mh,'rep_department_agywEN.png')

/usr/local/lib/python3.10/site-packages/dataframe_image/_pandas_accessor.py:69: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  html = '<div>' + obj.render() + '</div>'
[0401/142906.929007:INFO:headless_shell.cc(659)] Written to file /var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/tmprydd47c4/temp.png.

In [11]:
commune_agywEN = agywEN_found.pivot_table(
    values="case_id",
    index="commune",
    aggfunc="count",
    margins=True,
    margins_name="Total"
)
commune_agywEN_mh = commune_agywEN.style.highlight_max()
commune_agywEN_mh
export(commune_agywEN_mh,'rep_commune_agywEN.png')

/usr/local/lib/python3.10/site-packages/dataframe_image/_pandas_accessor.py:69: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  html = '<div>' + obj.render() + '</div>'
[0401/142941.034928:INFO:headless_shell.cc(659)] Written to file /var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/tmp0byv963a/temp.png.

In [15]:
personne_sud  = agywEN_found[agywEN_found.commune == 'chantal']
personne_sud.to_excel('agyw_chantal_sud.xlsx',na_rep="",index=False)

In [13]:
report_agywEN = ExcelWriter(f"rapport_repartiton_enrolement.xlsx",engine="openpyxl")
total_en_mh.to_excel(report_agywEN,sheet_name="total",index=False,na_rep="")
department_agywEN_mh.to_excel(report_agywEN,sheet_name="rep_department",index=True,na_rep="")
commune_agywEN_mh.to_excel(report_agywEN,sheet_name="rep_commune",index=True,na_rep="")
report_agywEN.save()