# AGYW_PREV DATIM

In [2]:
# load the modules
from layeringOfServices import DREAMS_MASTERSHEET
#multiples outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [31]:
from re import sub
from pandas import DataFrame

## AGYW_PREV

In [53]:
class AgywPrev:
    """A class with properties and methods given the results of the indicator AGYW_PREV DATIM""" 
    __who_am_I ="DATIM"
    __datim1_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package."
    __datim2_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service."
    __datim3_title="Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services."
    
    def __repr__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    @classmethod
    def datim_titleI(cls):
        return cls.__datim1_title
    
    @classmethod
    def datim_titleII(cls):
        return cls.__datim2_title
    
    @classmethod
    def datim_titleIII(cls):
        return cls.__datim3_title
    
    
    def __init__(self,commune=None):
        self.__commune = commune
        self.__i_am = f"{AgywPrev.__who_am_I}"
        self.__data =  DREAMS_MASTERSHEET
        self. __total_mastersheet = self.__data.code.count()
        if self.__commune == None:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")]
        else:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")&(self.__data.actual_commune == f"{self.__commune}")]
        self.__total_dreams_valid = self.__dreams_valid.code.count()
        self.__dreams_valid["primary_only"] = self.__dreams_valid.apply(lambda df: self.__primFunc(df),axis=1)
        self.__dreams_valid["primary_and_OneSecondary_services"] = self.__dreams_valid.apply(lambda df: self.__primLeastOneSecFunc(df),axis=1)
        self.__dreams_valid["partial_primary_services"] = self.__dreams_valid.apply(lambda df: self.__primPartFunc(df),axis=1)
        self.__agyw_prevI = self.__dreams_valid[self.__dreams_valid.primary_only == "full_primary_only"]
        self.__agyw_prevII = self.__dreams_valid[self.__dreams_valid.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
        self.__agyw_prevIII = self.__dreams_valid[self.__dreams_valid.partial_primary_services == "primary_part_services"]  
        self.__agyw_prevI_total = self.__agyw_prevI.code.count()
        self.__agyw_prevII_total = self.__agyw_prevII.code.count()
        self.__agyw_prevIII_total = self.__agyw_prevIII.code.count()
        self.__total_datim = self.__agyw_prevI_total + self.__agyw_prevII_total + self.__agyw_prevIII_total
        
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    @property
    def mastersheet_dataframe(self):
        return self.__data

    @property
    def total_mastersheet(self):
        return self.__total_mastersheet

    @property
    def total_dreams_valid(self):
        return self.__total_dreams_valid
    
    def __primFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis" and df.hts == "errata" and df.condoms == "errata" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        elif (df.ps_15_19 == "condoms&curriculum" and df.hts == "errata"  and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        elif (df.ps_20_24 == "condoms&hts&curriculum" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        else:
            return "invalid"
    
    def __primLeastOneSecFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis") and (df.hts == "tested_on_given_date" or df.condoms == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        elif (df.ps_15_19 == "condoms&curriculum") and (df.hts == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        elif (df.ps_20_24 == "condoms&hts&curriculum") and (df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        else:
            return "invalid"
        
    def __primPartFunc(self,df):
        if (df.age_range == "15-19") and ((df.condoms == "tested_on_given_date" and df.dreams_curriculum == "curriculum_inc") or (df.condoms == "errata" and df.dreams_curriculum == "curriculum_completed")):
            return "primary_part_services"
        elif (df.age_range == "20-24") and ((df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="tested_on_given_date")):
            return "primary_part_services"
        else:
            return "invalid"
         
    @property
    def total_datimI(self):
        return self.__agyw_prevI_total
    
    @property
    def total_datimII(self):
        return self.__agyw_prevII_total
    
    @property
    def total_datimIII(self):
        return self.__agyw_prevIII_total
    
    @property
    def total_datim_general(self):
        return self.__total_datim


    def datim_agyw_prevI(self):
        try:
            pivotableI = self.__agyw_prevI.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevI_pivot = pivotableI.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
            agyw_prevI_pivot_final = agyw_prevI_pivot.reset_index().rename_axis(None, axis=1)[:-1]
            agyw_prevI_results_final = DataFrame( agyw_prevI_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevI_results_final = DataFrame({"Age":["10-14",                     "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0]
            })
        return agyw_prevI_results_final
    
    def datim_agyw_prevII(self):
        try:
            pivotableII = self.__agyw_prevII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevII_pivot = pivotableII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
            agyw_prevII_pivot_final = agyw_prevII_pivot.reset_index().rename_axis(None, axis=1)[:-1]
            agyw_prevII_results_final = DataFrame( agyw_prevII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevII_results_final = DataFrame({"Age":["10-14",                     "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0]
            })
        return agyw_prevII_results_final
    
    def datim_agyw_prevIII(self):
        try:
            pivotableIII = self.__agyw_prevIII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevIII_pivot = pivotableIII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
            agyw_prevIII_pivot_final = agyw_prevIII_pivot.reset_index().rename_axis(None, axis=1)[:-1]
            agyw_prevIII_results_final = DataFrame( agyw_prevIII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevIII_results_final = DataFrame({"Age":["10-14",                     "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0]
            })
        return agyw_prevIII_results_final

In [54]:
%%capture
datim = AgywPrev()

In [55]:
datim.total_mastersheet 
datim.total_dreams_valid
datim.who_am_i
datim.total_datimI
datim.total_datimII
datim.total_datimIII
datim.total_datim_general
AgywPrev.datim_titleI()
datim.datim_agyw_prevI()
AgywPrev.datim_titleII()
datim.datim_agyw_prevII()
AgywPrev.datim_titleIII()
datim.datim_agyw_prevIII()

23677

15414

'DATIM'

5283

926

6658

12867

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14         508          3743           185   4436
1  15-19          87           605            40    732
2  20-24           0           112             3    115

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          31           587            31    649
1  15-19           0           247            15    262
2  20-24           0            15             0     15

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19         431          3436           204   4071
1  20-24         250          2180           157   2587

In [56]:
datim

## AGYW_Prev_Commune

In [57]:
class AgywPrevCommune(AgywPrev):
    """A class that extend AgywPrev with the purpose of the indicator AGYW_PREV DATIM by commune"""
    __who_am_I ="DATIM"
    def __init__(self,name):
        self.__name = name
        self.__i_am = f"{AgywPrevCommune.__who_am_I} {self.__name}"
        #self.__data =  DREAMS_MASTERSHEET
        super().__init__(self.__name)
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    def __repr__(self):
        return f"<AgywPrevCommune {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrevCommune {self.__i_am}>"

In [58]:
DREAMS_MASTERSHEET.actual_commune.unique()

array(['Verrettes', 'Delmas', 'Port-au-Prince', 'Carrefour', 'Limonade',
       'Plaine-du-Nord', 'Cap-Haïtien', 'Kenscoff', 'Dessalines',
       'Pétionville', 'Gressier', 'Saint-Marc', 'Tabarre', 'La Chapelle',
       'Milot', 'Liancourt', 'Quartier-Morin',
       "Petite Rivière de l'Artibonite", 'Grande Saline', 'Montrouis',
       'Desdunes'], dtype=object)

## dynamic

In [59]:
%%capture
def name_handler(s):
    s = sub(r"[^\w\s]", '', s)
    # Replace all runs of whitespace with a single dash
    s = sub(r"\s+", '_', s)
    return s

datimcommunes = []

for columns in DREAMS_MASTERSHEET.actual_commune.unique():
    globals()[f"datim_{name_handler(columns)}"] = AgywPrevCommune(f"{columns}")
    datimcommunes.append(globals().get(f"datim_{name_handler(columns)}"))

In [60]:
datimcommunes

[<AgywPrevCommune DATIM Verrettes>,
 <AgywPrevCommune DATIM Delmas>,
 <AgywPrevCommune DATIM Port-au-Prince>,
 <AgywPrevCommune DATIM Carrefour>,
 <AgywPrevCommune DATIM Limonade>,
 <AgywPrevCommune DATIM Plaine-du-Nord>,
 <AgywPrevCommune DATIM Cap-Haïtien>,
 <AgywPrevCommune DATIM Kenscoff>,
 <AgywPrevCommune DATIM Dessalines>,
 <AgywPrevCommune DATIM Pétionville>,
 <AgywPrevCommune DATIM Gressier>,
 <AgywPrevCommune DATIM Saint-Marc>,
 <AgywPrevCommune DATIM Tabarre>,
 <AgywPrevCommune DATIM La Chapelle>,
 <AgywPrevCommune DATIM Milot>,
 <AgywPrevCommune DATIM Liancourt>,
 <AgywPrevCommune DATIM Quartier-Morin>,
 <AgywPrevCommune DATIM Petite Rivière de l'Artibonite>,
 <AgywPrevCommune DATIM Grande Saline>,
 <AgywPrevCommune DATIM Montrouis>,
 <AgywPrevCommune DATIM Desdunes>]

In [62]:
for dcommunes in datimcommunes:
    dcommunes.total_mastersheet 
    dcommunes.total_dreams_valid
    dcommunes.who_am_i
    dcommunes.total_datimI
    dcommunes.total_datimII
    dcommunes.total_datimIII
    dcommunes.total_datim_general
    AgywPrevCommune.datim_titleI()
    dcommunes.datim_agyw_prevI()
    AgywPrevCommune.datim_titleII()
    dcommunes.datim_agyw_prevII()
    AgywPrevCommune.datim_titleIII()
    dcommunes.datim_agyw_prevIII()
    print(" ")
    print(" ")
    print(" ")
    print(" ")

23677

1787

'DATIM Verrettes'

580

123

781

1484

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           8           490             3    501
1  15-19           8            70             0     78
2  20-24           0             1             0      1

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  Total
0  10-14           6            90     96
1  15-19           0            24     24
2  20-24           0             3      3

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          10           480             4    494
1  20-24           9           277             1    287

23677

481

'DATIM Delmas'

146

23

276

445

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          41            65            17    123
1  15-19           0            18             3     21
2  20-24           0             2             0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  13-24 months  Total
0  10-14            10             5     15
1  15-19             4             4      8

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          35           103            28    166
1  20-24          17            66            27    110

23677

545

'DATIM Port-au-Prince'

175

14

306

495

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           4           150             2    156
1  15-19           2            12             0     14
2  20-24           0             5             0      5

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            11     11
1  15-19             3      3

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          14           183             7    204
1  20-24           4            92             6    102

23677

1321

'DATIM Carrefour'

555

43

563

1161

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          50           404            24    478
1  15-19          20            48             6     74
2  20-24           0             3             0      3

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           5            31             3     39
1  15-19           0             4             0      4

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          40           266            49    355
1  20-24          33           151            24    208

23677

482

'DATIM Limonade'

122

33

212

367

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          31            75             2    108
1  15-19           0            10             0     10
2  20-24           0             4             0      4

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  Total
0  10-14           2            21     23
1  15-19           0            10     10

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          16           135             7    158
1  20-24           4            47             3     54

23677

240

'DATIM Plaine-du-Nord'

44

5

87

136

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  07-12 months  13-24 months  Total
0  10-14            39             3     42
1  20-24             2             0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14             4      4
1  15-19             1      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  07-12 months  13-24 months  Total
0  15-19            60             4     64
1  20-24            22             1     23

23677

849

'DATIM Cap-Haïtien'

227

12

357

596

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          21           191             8    220
1  15-19           0             5             0      5
2  20-24           0             2             0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            12     12

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          13           206            10    229
1  20-24          10           117             1    128

23677

2333

'DATIM Kenscoff'

1058

132

880

2070

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          47           651           113    811
1  15-19          23           179            26    228
2  20-24           0            16             3     19

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           2            66            19     87
1  15-19           0            35            10     45

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          19           378            81    478
1  20-24          16           307            79    402

23677

1023

'DATIM Dessalines'

473

52

370

895

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          24           375    399
1  15-19           0            58     58
2  20-24           0            16     16

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            24     24
1  15-19            28     28

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19          32           268    300
1  20-24           6            64     70

23677

369

'DATIM Pétionville'

85

11

183

279

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          18            52             9     79
1  15-19           0             3             0      3
2  20-24           0             3             0      3

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  13-24 months  Total
0  10-14             4             2      6
1  15-19             4             0      4
2  20-24             1             0      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          18            91            11    120
1  20-24          11            45             7     63

23677

776

'DATIM Gressier'

227

28

330

585

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          90           100    190
1  15-19           0            29     29
2  20-24           0             8      8

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            22     22
1  15-19             5      5
2  20-24             1      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19          82            99             1    182
1  20-24          60            88             0    148

23677

1026

'DATIM Saint-Marc'

306

77

483

866

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          90           158    248
1  15-19          14            38     52
2  20-24           0             6      6

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  Total
0  10-14           9            45     54
1  15-19           0            23     23

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19          57           222    279
1  20-24          19           185    204

23677

380

'DATIM Tabarre'

136

37

147

320

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14           2           115    117
1  15-19           0            14     14
2  20-24           0             5      5

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            26     26
1  15-19            11     11

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19           9            89             0     98
1  20-24           3            45             1     49

23677

502

'DATIM La Chapelle'

124

0

305

429

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          25            98    123
1  15-19           0             1      1

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months
0  10-14           0             0             0
1  15-19           0             0             0
2  20-24           0             0             0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19          48           119    167
1  20-24          35           103    138

23677

334

'DATIM Milot'

101

23

111

235

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14          19            68             4     91
1  15-19           3             2             5     10

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           3            15             2     20
1  15-19           0             2             1      3

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  Total
0  15-19           5            63             2     70
1  20-24           0            34             7     41

23677

187

'DATIM Liancourt'

42

104

41

187

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14           4             9     13
1  15-19          17             4     21
2  20-24           0             8      8

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  Total
0  10-14           4            55     59
1  15-19           0            38     38
2  20-24           0             7      7

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19           2            25     27
1  20-24           7             7     14

23677

122

'DATIM Quartier-Morin'

15

0

25

40

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  07-12 months  Total
0  10-14            15     15

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months
0  10-14           0             0             0
1  15-19           0             0             0
2  20-24           0             0             0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  07-12 months  Total
0  15-19            23     23
1  20-24             2      2

23677

698

"DATIM Petite Rivière de l'Artibonite"

204

42

243

489

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          14           129    143
1  15-19           0            40     40
2  20-24           0            21     21

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            23     23
1  15-19            19     19

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19          25           115    140
1  20-24          15            88    103

23677

1092

'DATIM Grande Saline'

349

58

579

986

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          10           307    317
1  15-19           0            22     22
2  20-24           0            10     10

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            48     48
1  15-19             9      9
2  20-24             1      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  07-12 months  Total
0  15-19           318    318
1  20-24           261    261

23677

310

'DATIM Montrouis'

129

50

113

292

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  07-12 months  Total
0  10-14           110    110
1  15-19            19     19

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            39     39
1  15-19            11     11

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  07-12 months  Total
0  15-19            81     81
1  20-24            32     32

23677

557

'DATIM Desdunes'

185

59

266

510

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  Total
0  10-14          10           142    152
1  15-19           0            33     33

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  07-12 months  Total
0  10-14            41     41
1  15-19            16     16
2  20-24             2      2

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  Total
0  15-19           6           112    118
1  20-24           1           147    148

In [61]:
datim_La_Chapelle.datim_agyw_prevII()

     Age  0-6 months  07-12 months  13-24 months
0  10-14           0             0             0
1  15-19           0             0             0
2  20-24           0             0             0