# AGYW_PREV DATIM

In [1]:
# load the modules
from layeringOfServices import DREAMS_MASTERSHEET
#multiples outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from re import sub
from pandas import DataFrame

## AGYW_PREV

In [3]:
pipo = list(DREAMS_MASTERSHEET.agyw_period_range.unique())
pipo.append("Total")
sorted(list(DREAMS_MASTERSHEET.age_range.unique())[1:4])

['10-14', '15-19', '20-24']

In [4]:
sorted(pipo)

['0-6 months', '07-12 months', '13-24 months', '25+ months', 'Total']

In [5]:
class AgywPrev:
    """A class with properties and methods given the results of the indicator AGYW_PREV DATIM""" 
    __who_am_I ="DATIM"
    __datim1_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package."
    __datim2_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service."
    __datim3_title="Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services."
    
    def __repr__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    @classmethod
    def datim_titleI(cls):
        return cls.__datim1_title
    
    @classmethod
    def datim_titleII(cls):
        return cls.__datim2_title
    
    @classmethod
    def datim_titleIII(cls):
        return cls.__datim3_title
    
    
    def __init__(self,commune=None):
        self.__commune = commune
        self.__i_am = f"{AgywPrev.__who_am_I}"
        self.__data =  DREAMS_MASTERSHEET
        self. __total_mastersheet = self.__data.code.count()
        if self.__commune == None:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")]
        else:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")&(self.__data.actual_commune == f"{self.__commune}")]
        self.__total_dreams_valid = self.__dreams_valid.code.count()
        self.__dreams_valid["primary_only"] = self.__dreams_valid.apply(lambda df: self.__primFunc(df),axis=1)
        self.__dreams_valid["primary_and_OneSecondary_services"] = self.__dreams_valid.apply(lambda df: self.__primLeastOneSecFunc(df),axis=1)
        self.__dreams_valid["partial_primary_services"] = self.__dreams_valid.apply(lambda df: self.__primPartFunc(df),axis=1)
        self.__agyw_prevI = self.__dreams_valid[self.__dreams_valid.primary_only == "full_primary_only"]
        self.__agyw_prevII = self.__dreams_valid[self.__dreams_valid.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
        self.__agyw_prevIII = self.__dreams_valid[self.__dreams_valid.partial_primary_services == "primary_part_services"]  
        self.__agyw_prevI_total = self.__agyw_prevI.code.count()
        self.__agyw_prevII_total = self.__agyw_prevII.code.count()
        self.__agyw_prevIII_total = self.__agyw_prevIII.code.count()
        self.__total_datim = self.__agyw_prevI_total + self.__agyw_prevII_total + self.__agyw_prevIII_total
        
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    @property
    def mastersheet_dataframe(self):
        return self.__data

    @property
    def total_mastersheet(self):
        return self.__total_mastersheet

    @property
    def total_dreams_valid(self):
        return self.__total_dreams_valid
    
    def __primFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis" and df.hts == "errata" and df.condoms == "errata" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        elif (df.ps_15_19 == "condoms&curriculum" and df.hts == "errata"  and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        elif (df.ps_20_24 == "condoms&hts&curriculum" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        else:
            return "invalid"
    
    def __primLeastOneSecFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis") and (df.hts == "tested_on_given_date" or df.condoms == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        elif (df.ps_15_19 == "condoms&curriculum") and (df.hts == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        elif (df.ps_20_24 == "condoms&hts&curriculum") and (df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        else:
            return "invalid"
        
    def __primPartFunc(self,df):
        if (df.age_range == "15-19") and ((df.condoms == "tested_on_given_date" and df.dreams_curriculum == "curriculum_inc") or (df.condoms == "errata" and df.dreams_curriculum == "curriculum_completed")):
            return "primary_part_services"
        elif (df.age_range == "20-24") and ((df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="tested_on_given_date")):
            return "primary_part_services"
        else:
            return "invalid"
         
    @property
    def total_datimI(self):
        return self.__agyw_prevI_total
    
    @property
    def total_datimII(self):
        return self.__agyw_prevII_total
    
    @property
    def total_datimIII(self):
        return self.__agyw_prevIII_total
    
    @property
    def total_datim_general(self):
        return self.__total_datim
    
    @property
    def data_agyw_prevI(self):
        return self.__agyw_prevI

    @property
    def data_agyw_prevII(self):
        return self.__agyw_prevII

    @property
    def data_agyw_prevIII(self):
        return self.__agyw_prevIII

    __PERIOD_DATIM = sorted(list(DREAMS_MASTERSHEET.agyw_period_range.unique()))
    __PERIOD_DATIM.append("Total")
    __AGE_DATIM = sorted(list(DREAMS_MASTERSHEET.age_range.unique())[1:4])
    def datim_agyw_prevI(self):
        
        try:
            pivotableI = self.__agyw_prevI.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevI_pivot = pivotableI.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotI = list(agyw_prevI_pivot.columns)
            indexes_pivotI = list(agyw_prevI_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotI:
                    agyw_prevI_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotI:
                    agyw_prevI_pivot.loc[age] = 0
            agyw_prevI_pivot = agyw_prevI_pivot.reindex(index=AgywPrev.__AGE_DATIM, columns =AgywPrev.__PERIOD_DATIM)
            agyw_prevI_pivot_final = agyw_prevI_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevI_results_final = DataFrame( agyw_prevI_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevI_results_final = DataFrame({"Age":["10-14","15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevI_results_final
    
    def datim_agyw_prevII(self):
        try:
            pivotableII = self.__agyw_prevII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevII_pivot = pivotableII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotII = list(agyw_prevII_pivot.columns)
            indexes_pivotII = list(agyw_prevII_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotII:
                    agyw_prevII_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotII:
                    agyw_prevII_pivot.loc[age] = 0
            agyw_prevII_pivot = agyw_prevII_pivot.reindex(index=AgywPrev.__AGE_DATIM,columns =AgywPrev.__PERIOD_DATIM)            
            agyw_prevII_pivot_final = agyw_prevII_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevII_results_final = DataFrame( agyw_prevII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevII_results_final = DataFrame({"Age":["10-14", "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevII_results_final
    
    def datim_agyw_prevIII(self):
        try:
            pivotableIII = self.__agyw_prevIII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevIII_pivot = pivotableIII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotIII = list(agyw_prevIII_pivot.columns)
            indexes_pivotIII = list(agyw_prevIII_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotIII:
                    agyw_prevIII_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotIII:
                    agyw_prevIII_pivot.loc[age] = 0
            agyw_prevIII_pivot = agyw_prevIII_pivot.reindex(index=AgywPrev.__AGE_DATIM,columns =AgywPrev.__PERIOD_DATIM)
            agyw_prevIII_pivot_final = agyw_prevIII_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevIII_results_final = DataFrame( agyw_prevIII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevIII_results_final = DataFrame({"Age":["10-14",                     "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevIII_results_final

In [6]:
%%capture
datim = AgywPrev()

In [7]:
datim.total_mastersheet 
datim.total_dreams_valid
datim.who_am_i
datim.total_datimI
datim.total_datimII
datim.total_datimIII
datim.total_datim_general
AgywPrev.datim_titleI()
datim.datim_agyw_prevI()
AgywPrev.datim_titleII()
datim.datim_agyw_prevII()
AgywPrev.datim_titleIII()
datim.datim_agyw_prevIII()

24698

16182

'DATIM'

5549

977

6941

13467

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14         631          3822           185           0   4638
1  15-19         140           616            39           0    795
2  20-24           0           113             3           0    116

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          85           586            31           0    702
1  15-19           0           245            15           0    260
2  20-24           0            15             0           0     15

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19         524          3526           205           0   4255
2  20-24         301          2224           161           0   2686

In [8]:
datim

## AGYW_Prev_Commune

In [9]:
class AgywPrevCommune(AgywPrev):
    """A class that extend AgywPrev with the purpose of the indicator AGYW_PREV DATIM by commune"""
    __who_am_I ="DATIM"
    def __init__(self,name):
        self.__name = name
        self.__i_am = f"{AgywPrevCommune.__who_am_I} {self.__name}"
        #self.__data =  DREAMS_MASTERSHEET
        super().__init__(self.__name)
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    def __repr__(self):
        return f"<AgywPrevCommune {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrevCommune {self.__i_am}>"

In [10]:
DREAMS_MASTERSHEET.actual_commune.unique()

array(['Verrettes', 'Delmas', 'Port-au-Prince', 'Carrefour', 'Limonade',
       'Plaine-du-Nord', 'Cap-Haïtien', 'Kenscoff', 'Dessalines',
       'Pétionville', 'Gressier', 'Saint-Marc', 'Tabarre', 'La Chapelle',
       'Milot', 'Liancourt', 'Quartier-Morin',
       "Petite Rivière de l'Artibonite", 'Grande Saline', 'Montrouis',
       'Desdunes'], dtype=object)

## dynamic

In [11]:
%%capture
def name_handler(s):
    s = sub(r"[^\w\s]", '', s)
    # Replace all runs of whitespace with a single dash
    s = sub(r"\s+", '_', s)
    return s

datimcommunes = []

for columns in DREAMS_MASTERSHEET.actual_commune.unique():
    globals()[f"datim_{name_handler(columns)}"] = AgywPrevCommune(f"{columns}")
    datimcommunes.append(globals().get(f"datim_{name_handler(columns)}"))

In [12]:
datimcommunes

[<AgywPrevCommune DATIM Verrettes>,
 <AgywPrevCommune DATIM Delmas>,
 <AgywPrevCommune DATIM Port-au-Prince>,
 <AgywPrevCommune DATIM Carrefour>,
 <AgywPrevCommune DATIM Limonade>,
 <AgywPrevCommune DATIM Plaine-du-Nord>,
 <AgywPrevCommune DATIM Cap-Haïtien>,
 <AgywPrevCommune DATIM Kenscoff>,
 <AgywPrevCommune DATIM Dessalines>,
 <AgywPrevCommune DATIM Pétionville>,
 <AgywPrevCommune DATIM Gressier>,
 <AgywPrevCommune DATIM Saint-Marc>,
 <AgywPrevCommune DATIM Tabarre>,
 <AgywPrevCommune DATIM La Chapelle>,
 <AgywPrevCommune DATIM Milot>,
 <AgywPrevCommune DATIM Liancourt>,
 <AgywPrevCommune DATIM Quartier-Morin>,
 <AgywPrevCommune DATIM Petite Rivière de l'Artibonite>,
 <AgywPrevCommune DATIM Grande Saline>,
 <AgywPrevCommune DATIM Montrouis>,
 <AgywPrevCommune DATIM Desdunes>]

In [13]:
for dcommunes in datimcommunes:
    dcommunes.total_mastersheet 
    dcommunes.total_dreams_valid
    dcommunes.who_am_i
    dcommunes.total_datimI
    dcommunes.total_datimII
    dcommunes.total_datimIII
    dcommunes.total_datim_general
    AgywPrevCommune.datim_titleI()
    dcommunes.datim_agyw_prevI()
    AgywPrevCommune.datim_titleII()
    dcommunes.datim_agyw_prevII()
    AgywPrevCommune.datim_titleIII()
    dcommunes.datim_agyw_prevIII()
    print(" ")
    print(" ")
    print(" ")
    print(" ")

24698

1870

'DATIM Verrettes'

629

158

822

1609

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          15           491             3           0    509
1  15-19          44            75             0           0    119
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          40            91             0           0    131
1  15-19           0            24             0           0     24
2  20-24           0             3             0           0      3

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          26           481             4           0    511
2  20-24          27           283             1           0    311

24698

481

'DATIM Delmas'

144

23

278

445

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          41            63            17           0    121
1  15-19           0            18             3           0     21
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            10             5           0     15
1  15-19           0             4             4           0      8
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          35           105            28           0    168
2  20-24          17            66            27           0    110

24698

567

'DATIM Port-au-Prince'

176

14

311

501

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           5           150             2           0    157
1  15-19           2            12             0           0     14
2  20-24           0             5             0           0      5

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            11             0           0     11
1  15-19           0             3             0           0      3
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          15           182             7           0    204
2  20-24           5            96             6           0    107

24698

1320

'DATIM Carrefour'

549

43

568

1160

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          50           399            24           0    473
1  15-19          20            47             6           0     73
2  20-24           0             3             0           0      3

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           5            31             3           0     39
1  15-19           0             4             0           0      4
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          39           268            49           0    356
2  20-24          34           154            24           0    212

24698

536

'DATIM Limonade'

150

33

238

421

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          38            98             2           0    138
1  15-19           0             8             0           0      8
2  20-24           0             4             0           0      4

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2            21             0           0     23
1  15-19           0            10             0           0     10
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          23           147             7           0    177
2  20-24           4            54             3           0     61

24698

244

'DATIM Plaine-du-Nord'

47

5

88

140

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2            40             3           0     45
1  15-19           0             0             0           0      0
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             4             0           0      4
1  15-19           0             1             0           0      1
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0            60             4           0     64
2  20-24           0            23             1           0     24

24698

866

'DATIM Cap-Haïtien'

226

12

368

606

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          21           190             8           0    219
1  15-19           0             5             0           0      5
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            12             0           0     12
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          13           213            10           0    236
2  20-24          10           121             1           0    132

24698

2562

'DATIM Kenscoff'

1181

129

989

2299

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14         104           719           113           0    936
1  15-19          23           178            25           0    226
2  20-24           0            16             3           0     19

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           1            64            19           0     84
1  15-19           0            35            10           0     45
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          50           424            83           0    557
2  20-24          29           321            82           0    432

24698

1069

'DATIM Dessalines'

488

52

381

921

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          39           372             0           0    411
1  15-19           2            58             0           0     60
2  20-24           0            17             0           0     17

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           1            24             0           0     25
1  15-19           0            27             0           0     27
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          40           272             0           0    312
2  20-24           5            64             0           0     69

24698

372

'DATIM Pétionville'

87

11

184

282

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          18            52             9           0     79
1  15-19           2             3             0           0      5
2  20-24           0             3             0           0      3

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             4             2           0      6
1  15-19           0             4             0           0      4
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          19            90            10           0    119
2  20-24          11            46             8           0     65

24698

850

'DATIM Gressier'

268

34

357

659

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14         103           111             0           0    214
1  15-19           7            39             0           0     46
2  20-24           0             8             0           0      8

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           4            24             0           0     28
1  15-19           0             5             0           0      5
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          93           103             1           0    197
2  20-24          65            95             0           0    160

24698

1105

'DATIM Saint-Marc'

313

93

505

911

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          98           155             0           0    253
1  15-19          17            37             0           0     54
2  20-24           0             6             0           0      6

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          25            45             0           0     70
1  15-19           0            23             0           0     23
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          67           225             0           0    292
2  20-24          30           183             0           0    213

24698

379

'DATIM Tabarre'

135

37

147

319

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2           114             0           0    116
1  15-19           0            14             0           0     14
2  20-24           0             5             0           0      5

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            26             0           0     26
1  15-19           0            11             0           0     11
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           9            90             0           0     99
2  20-24           3            44             1           0     48

24698

607

'DATIM La Chapelle'

123

0

305

428

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          25            97             0           0    122
1  15-19           0             1             0           0      1
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          48           120             0           0    168
2  20-24          35           102             0           0    137

24698

334

'DATIM Milot'

101

23

111

235

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          19            68             4           0     91
1  15-19           3             2             5           0     10
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           3            15             2           0     20
1  15-19           0             2             1           0      3
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           5            63             2           0     70
2  20-24           0            34             7           0     41

24698

186

'DATIM Liancourt'

42

103

41

186

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           4             9             0           0     13
1  15-19          17             4             0           0     21
2  20-24           0             8             0           0      8

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           4            54             0           0     58
1  15-19           0            38             0           0     38
2  20-24           0             7             0           0      7

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           2            25             0           0     27
2  20-24           7             7             0           0     14

24698

131

'DATIM Quartier-Morin'

20

0

27

47

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           5            15             0           0     20
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           2            23             0           0     25
2  20-24           0             2             0           0      2

24698

716

"DATIM Petite Rivière de l'Artibonite"

204

41

256

501

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          14           125             0           0    139
1  15-19           3            41             0           0     44
2  20-24           0            21             0           0     21

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            22             0           0     22
1  15-19           0            19             0           0     19
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          29           119             0           0    148
2  20-24          16            92             0           0    108

24698

1097

'DATIM Grande Saline'

346

58

579

983

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          10           304             0           0    314
1  15-19           0            22             0           0     22
2  20-24           0            10             0           0     10

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            48             0           0     48
1  15-19           0             9             0           0      9
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0           320             0           0    320
2  20-24           0           259             0           0    259

24698

335

'DATIM Montrouis'

136

50

120

306

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           8           109             0           0    117
1  15-19           0            19             0           0     19
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            39             0           0     39
1  15-19           0            11             0           0     11
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           3            83             0           0     86
2  20-24           2            32             0           0     34

24698

555

'DATIM Desdunes'

184

58

266

508

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          10           141             0           0    151
1  15-19           0            33             0           0     33
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            41             0           0     41
1  15-19           0            15             0           0     15
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           6           113             0           0    119
2  20-24           1           146             0           0    147

df = datim_PortauPrince.data_agyw_prevII

list(df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total").columns)

listable = list(df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total").columns)
listable = sorted(listable)
listable

 pivot = df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total")[:-1]

period = ["0-6 months", "07-12 months", "13-24 months","Total"]

for per in period:
    if per not in listable:
        pivot[per]=0

pivot

rowable = list(pivot.index)

agemoi = ["10-14","15-19", "20-24"]

for a in agemoi:
    if a not in rowable:
        pivot.loc[a] = 0

pivot

pivot.reindex(columns=period)