# AGYW_PREV DATIM

In [1]:
# load the modules
from layeringOfServices import DREAMS_MASTERSHEET
#multiples outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Datim Pour les 3 definitions

----

1. Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.

2. Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.

3. Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.

----

## Task it

In [2]:
# Nbre d'observation
DREAMS_MASTERSHEET.code.count()

23112

In [3]:
# les tranches d'age & tIME_ON
#DREAMS_1014 = DREAMS_MASTERSHEET[(DREAMS_MASTERSHEET.age_range == "10-14") & (DREAMS_MASTERSHEET.timeOn_system == "required_Time_on")]
#DREAMS_1519 = DREAMS_MASTERSHEET[(DREAMS_MASTERSHEET.age_range == "15-19")& (DREAMS_MASTERSHEET.timeOn_system == "required_Time_on")]
#DREAMS_2024 = DREAMS_MASTERSHEET[(DREAMS_MASTERSHEET.age_range == "20-24") & (DREAMS_MASTERSHEET.timeOn_system == "required_Time_on")]
DREAMS_VALID = DREAMS_MASTERSHEET[(DREAMS_MASTERSHEET.age_range !="not_valid_age") & (DREAMS_MASTERSHEET.age_range != "25-29") & (DREAMS_MASTERSHEET.timeOn_system == "required_Time_on")]

In [4]:
#DREAMS_1014.code.count()
#DREAMS_1519.code.count()
#DREAMS_2024.code.count()
DREAMS_VALID.code.count()

15015

## Process Primary Only
--- 
Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.

In [5]:
# primary services function

def primFunc(df):
    if (df.ps_10_14 == "curriculum-servis" and df.hts == "errata" and df.condoms == "errata" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
        return "full_primary_only"
    elif (df.ps_15_19 == "condoms&curriculum" and df.hts == "errata"  and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
        return "full_primary_only"
    elif (df.ps_20_24 == "condoms&hts&curriculum" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
        return "full_primary_only"
    else:
        return "invalid"

In [6]:
%%capture
DREAMS_1014["primary_only"] = DREAMS_1014.apply(lambda df: primFunc(df),axis=1)
DREAMS_1519["primary_only"] = DREAMS_1519.apply(lambda df: primFunc(df),axis=1)
DREAMS_2024["primary_only"] = DREAMS_2024.apply(lambda df: primFunc(df),axis=1)

DREAMS_VALID["primary_only"] = DREAMS_VALID.apply(lambda df: primFunc(df),axis=1)

NameError: name 'DREAMS_1014' is not defined

In [8]:
agyw_prevI = DREAMS_VALID[DREAMS_VALID.primary_only == "full_primary_only"]
agyw_prevI_1014 = DREAMS_1014[DREAMS_1014.primary_only == "full_primary_only"]
agyw_prevI_1519 =DREAMS_1519[DREAMS_1519.primary_only == "full_primary_only"]
agyw_prevI_2024 = DREAMS_2024[DREAMS_2024.primary_only == "full_primary_only"]

# check
agyw_prevI.code.count()

5127

### Pivot Datim 1

In [9]:
agyw_prevI_pivot = agyw_prevI.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevI_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevI_pivot_final = agyw_prevI_pivot[:-1]
agyw_prevI_pivot_final

Time   0-6 months  07-12 months  13-24 months  Total
Age
10-14         458          3831             4   4293
15-19         105           615             0    720
20-24           1           113             0    114

In [10]:
agyw_prevI_1014_pivot = agyw_prevI_1014.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevI_1014_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevI_1014_pivot_final = agyw_prevI_1014_pivot[:-1]
agyw_prevI_1014_pivot_final



agyw_prevI_1519_pivot = agyw_prevI_1519.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevI_1519_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevI_1519_pivot_final = agyw_prevI_1519_pivot[:-1]
agyw_prevI_1519_pivot_final




agyw_prevI_2024_pivot = agyw_prevI_2024.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevI_2024_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevI_2024_pivot_final = agyw_prevI_2024_pivot[:-1]
agyw_prevI_2024_pivot_final

Time   0-6 months  07-12 months  13-24 months  Total
Age
10-14         458          3831             4   4293

Time   0-6 months  07-12 months  Total
Age
15-19         105           615    720

Time   0-6 months  07-12 months  Total
Age
20-24           1           113    114

## Process Primary and at least One Secondary

---

Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.

In [11]:
# primary and least one Secondary services function

def primLeastOneSecFunc(df):
    if (df.ps_10_14 == "curriculum-servis") and (df.hts == "tested_on_given_date" or df.condoms == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
        return "full_primary_leastOneSecondary"
    elif (df.ps_15_19 == "condoms&curriculum") and (df.hts == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
        return "full_primary_leastOneSecondary"
    elif (df.ps_20_24 == "condoms&hts&curriculum") and (df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
        return "full_primary_leastOneSecondary"
    else:
        return "invalid"

In [12]:
%%capture
DREAMS_1014["primary_and_OneSecondary_services"] = DREAMS_1014.apply(lambda df: primLeastOneSecFunc(df),axis=1)
DREAMS_1519["primary_and_OneSecondary_services"] = DREAMS_1519.apply(lambda df: primLeastOneSecFunc(df),axis=1)
DREAMS_2024["primary_and_OneSecondary_services"] = DREAMS_2024.apply(lambda df: primLeastOneSecFunc(df),axis=1)

DREAMS_VALID["primary_and_OneSecondary_services"] = DREAMS_VALID.apply(lambda df: primLeastOneSecFunc(df),axis=1)

In [13]:
agyw_prevII = DREAMS_VALID[DREAMS_VALID.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
agyw_prevII_1014 = DREAMS_1014[DREAMS_1014.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
agyw_prevII_1519 =DREAMS_1519[DREAMS_1519.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
agyw_prevII_2024 = DREAMS_2024[DREAMS_2024.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]

# check
agyw_prevII.code.count()

919

### Pivot Datim 2

In [14]:
agyw_prevII_pivot = agyw_prevII.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevII_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevII_pivot_final = agyw_prevII_pivot[:-1]
agyw_prevII_pivot_final

Time   0-6 months  07-12 months  Total
Age
10-14          34           606    640
15-19           4           260    264
20-24           0            15     15

In [15]:
agyw_prevII_1014_pivot = agyw_prevII_1014.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevII_1014_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevII_1014_pivot_final = agyw_prevII_1014_pivot[:-1]
agyw_prevII_1014_pivot_final



agyw_prevII_1519_pivot = agyw_prevII_1519.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevII_1519_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevII_1519_pivot_final = agyw_prevII_1519_pivot[:-1]
agyw_prevII_1519_pivot_final




agyw_prevII_2024_pivot = agyw_prevII_2024.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevII_2024_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevII_2024_pivot_final = agyw_prevII_2024_pivot[:-1]
agyw_prevII_2024_pivot_final

Time   0-6 months  07-12 months  Total
Age
10-14          34           606    640

Time   0-6 months  07-12 months  Total
Age
15-19           4           260    264

Time   07-12 months  Total
Age
20-24            15     15

## Process Primary Part Only

---

Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.

In [16]:
def primPartFunc(df):
    if (df.age_range == "15-19") and ((df.condoms == "tested_on_given_date" and df.dreams_curriculum == "curriculum_inc") or (df.condoms == "errata" and df.dreams_curriculum == "curriculum_completed")):
        return "primary_part_services"
    elif (df.age_range == "20-24") and ((df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="tested_on_given_date")):
        return "primary_part_services"
    else:
        return "invalid"

In [17]:
%%capture
DREAMS_1519["partial_primary_services"] = DREAMS_1519.apply(lambda df: primPartFunc(df),axis=1)
DREAMS_2024["partial_primary_services"] = DREAMS_2024.apply(lambda df: primPartFunc(df),axis=1)

DREAMS_VALID["partial_primary_services"] = DREAMS_VALID.apply(lambda df: primPartFunc(df),axis=1)

In [18]:
agyw_prevIII = DREAMS_VALID[DREAMS_VALID.partial_primary_services == "primary_part_services"]

agyw_prevIII_1519 =DREAMS_1519[DREAMS_1519.partial_primary_services == "primary_part_services"]
agyw_prevIII_2024 = DREAMS_2024[DREAMS_2024.partial_primary_services == "primary_part_services"]

# check
agyw_prevIII.code.count()

6460

### Pivot datim 3

In [19]:
agyw_prevIII_pivot = agyw_prevIII.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevIII_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevIII_pivot_final = agyw_prevIII_pivot[:-1]
agyw_prevIII_pivot_final

Time   0-6 months  07-12 months  13-24 months  Total
Age
15-19         408          3509             7   3924
20-24         272          2262             2   2536

In [20]:

agyw_prevIII_1519_pivot = agyw_prevIII_1519.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevIII_1519_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevIII_1519_pivot_final = agyw_prevIII_1519_pivot[:-1]
agyw_prevIII_1519_pivot_final




agyw_prevIII_2024_pivot = agyw_prevIII_2024.pivot_table(index=["age_range"],columns=["agyw_period_range"], values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total")
agyw_prevIII_2024_pivot.rename_axis(index={"age_range":"Age"},columns={"agyw_period_range":"Time"},inplace=True)
agyw_prevIII_2024_pivot_final = agyw_prevIII_2024_pivot[:-1]
agyw_prevIII_2024_pivot_final

Time   0-6 months  07-12 months  13-24 months  Total
Age
15-19         408          3509             7   3924

Time   0-6 months  07-12 months  13-24 months  Total
Age
20-24         272          2262             2   2536

In [22]:
DREAMS_VALID.actual_commune.unique()

array(['Kenscoff', 'Dessalines', 'Pétionville', 'Delmas', 'Gressier',
       'Carrefour', 'Saint-Marc', 'Tabarre', 'Verrettes', 'La Chapelle',
       'Cap-Haïtien', 'Milot', 'Plaine-du-Nord', 'Liancourt',
       'Quartier-Morin', 'Limonade', "Petite Rivière de l'Artibonite",
       'Montrouis', 'Port-au-Prince', 'Grande Saline', 'Desdunes'],
      dtype=object)

# OOP Solution

In [69]:
class AgywPrev:
    __mastersheet = DREAMS_MASTERSHEET
    __total_mastersheet = AgywPrev.__mastersheet.code.count()

    def __init__(self):
        self. __total_mastersheet = AgywPrev.__mastersheet.code.count()
        self.__DREAMS_VALID = AgywPrev.__mastersheet[(AgywPrev.__mastersheet.age_range !="not_valid_age") & (AgywPrev.__mastersheet.age_range != "25-29") & (AgywPrev.__mastersheet.timeOn_system == "required_Time_on")]

    @property
    def total_mastersheet(self):
        return self.__total_mastersheet

In [70]:
test = AgywPrev()

In [74]:
test.total_mastersheet

23080