# AGYW_PREV DATIM

In [1]:
# load the modules
from layeringOfServices import DREAMS_MASTERSHEET
#multiples outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from re import sub
from pandas import DataFrame

## AGYW_PREV

In [3]:
pipo = list(DREAMS_MASTERSHEET.agyw_period_range.unique())
pipo.append("Total")
sorted(list(DREAMS_MASTERSHEET.age_range.unique())[1:4])

['10-14', '15-19', '20-24']

In [4]:
sorted(pipo)

['0-6 months', '07-12 months', '13-24 months', '25+ months', 'Total']

In [5]:
class AgywPrev:
    """A class with properties and methods given the results of the indicator AGYW_PREV DATIM""" 
    __who_am_I ="DATIM"
    __datim1_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package."
    __datim2_title="Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service."
    __datim3_title="Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services."
    
    def __repr__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrev {self.__i_am}>"
    
    @classmethod
    def datim_titleI(cls):
        return cls.__datim1_title
    
    @classmethod
    def datim_titleII(cls):
        return cls.__datim2_title
    
    @classmethod
    def datim_titleIII(cls):
        return cls.__datim3_title
    
    
    def __init__(self,commune=None):
        self.__commune = commune
        self.__i_am = f"{AgywPrev.__who_am_I}"
        self.__data =  DREAMS_MASTERSHEET
        self. __total_mastersheet = self.__data.code.count()
        if self.__commune == None:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")]
        else:
            self.__dreams_valid = self.__data[(self.__data.age_range !="not_valid_age") & (self.__data.age_range != "25-29") & (self.__data.timeOn_system == "required_Time_on")&(self.__data.actual_commune == f"{self.__commune}")]
        self.__total_dreams_valid = self.__dreams_valid.code.count()
        self.__dreams_valid["primary_only"] = self.__dreams_valid.apply(lambda df: self.__primFunc(df),axis=1)
        self.__dreams_valid["primary_and_OneSecondary_services"] = self.__dreams_valid.apply(lambda df: self.__primLeastOneSecFunc(df),axis=1)
        self.__dreams_valid["partial_primary_services"] = self.__dreams_valid.apply(lambda df: self.__primPartFunc(df),axis=1)
        self.__agyw_prevI = self.__dreams_valid[self.__dreams_valid.primary_only == "full_primary_only"]
        self.__agyw_prevII = self.__dreams_valid[self.__dreams_valid.primary_and_OneSecondary_services == "full_primary_leastOneSecondary"]
        self.__agyw_prevIII = self.__dreams_valid[self.__dreams_valid.partial_primary_services == "primary_part_services"]  
        self.__agyw_prevI_total = self.__agyw_prevI.code.count()
        self.__agyw_prevII_total = self.__agyw_prevII.code.count()
        self.__agyw_prevIII_total = self.__agyw_prevIII.code.count()
        self.__total_datim = self.__agyw_prevI_total + self.__agyw_prevII_total + self.__agyw_prevIII_total
        
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    @property
    def mastersheet_dataframe(self):
        return self.__data

    @property
    def total_mastersheet(self):
        return self.__total_mastersheet

    @property
    def total_dreams_valid(self):
        return self.__total_dreams_valid
    
    def __primFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis" and df.hts == "errata" and df.condoms == "errata" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        elif (df.ps_15_19 == "condoms&curriculum" and df.hts == "errata"  and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        #elif (df.ps_20_24 == "condoms&hts&curriculum"  and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
        elif (df.ps_20_24 == "condoms&curriculum" and df.hts == "errata" and df.post_care_treatment == "no" and df.socio_eco_app == "no" ):
            return "full_primary_only"
        else:
            return "invalid"
    
    def __primLeastOneSecFunc(self,df):
        if (df.ps_10_14 == "curriculum-servis") and (df.hts == "tested_on_given_date" or df.condoms == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        elif (df.ps_15_19 == "condoms&curriculum") and (df.hts == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        #elif (df.ps_20_24 == "condoms&hts&curriculum") and (df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
        elif (df.ps_20_24 == "condoms&curriculum") and (df.hts == "tested_on_given_date" or df.post_care_treatment == "service_gyneco_vbg" or df.socio_eco_app == "service_muso_gardening" ):
            return "full_primary_leastOneSecondary"
        else:
            return "invalid"
        
    def __primPartFunc(self,df):
        if (df.age_range == "15-19") and ((df.condoms == "tested_on_given_date" and df.dreams_curriculum == "curriculum_inc") or (df.condoms == "errata" and df.dreams_curriculum == "curriculum_completed")):
            return "primary_part_services"
        #elif (df.age_range == "20-24") and ((df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_completed" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="errata")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="errata" and df.hts=="tested_on_given_date")or(df.dreams_curriculum == "curriculum_inc" and df.condoms=="tested_on_given_date" and df.hts=="tested_on_given_date")):
        elif (df.age_range == "20-24") and ((df.condoms == "tested_on_given_date" and df.dreams_curriculum == "curriculum_inc") or (df.condoms == "errata" and df.dreams_curriculum == "curriculum_completed")):
            return "primary_part_services"
        else:
            return "invalid"
         
    @property
    def total_datimI(self):
        return self.__agyw_prevI_total
    
    @property
    def total_datimII(self):
        return self.__agyw_prevII_total
    
    @property
    def total_datimIII(self):
        return self.__agyw_prevIII_total
    
    @property
    def total_datim_general(self):
        return self.__total_datim
    
    @property
    def data_agyw_prevI(self):
        return self.__agyw_prevI

    @property
    def data_agyw_prevII(self):
        return self.__agyw_prevII

    @property
    def data_agyw_prevIII(self):
        return self.__agyw_prevIII

    __PERIOD_DATIM = sorted(list(DREAMS_MASTERSHEET.agyw_period_range.unique()))
    __PERIOD_DATIM.append("Total")
    __AGE_DATIM = sorted(list(DREAMS_MASTERSHEET.age_range.unique())[1:4])
    def datim_agyw_prevI(self):
        
        try:
            pivotableI = self.__agyw_prevI.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevI_pivot = pivotableI.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotI = list(agyw_prevI_pivot.columns)
            indexes_pivotI = list(agyw_prevI_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotI:
                    agyw_prevI_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotI:
                    agyw_prevI_pivot.loc[age] = 0
            agyw_prevI_pivot = agyw_prevI_pivot.reindex(index=AgywPrev.__AGE_DATIM, columns =AgywPrev.__PERIOD_DATIM)
            agyw_prevI_pivot_final = agyw_prevI_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevI_results_final = DataFrame( agyw_prevI_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevI_results_final = DataFrame({"Age":["10-14","15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevI_results_final
    
    def datim_agyw_prevII(self):
        try:
            pivotableII = self.__agyw_prevII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevII_pivot = pivotableII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotII = list(agyw_prevII_pivot.columns)
            indexes_pivotII = list(agyw_prevII_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotII:
                    agyw_prevII_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotII:
                    agyw_prevII_pivot.loc[age] = 0
            agyw_prevII_pivot = agyw_prevII_pivot.reindex(index=AgywPrev.__AGE_DATIM,columns =AgywPrev.__PERIOD_DATIM)            
            agyw_prevII_pivot_final = agyw_prevII_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevII_results_final = DataFrame( agyw_prevII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevII_results_final = DataFrame({"Age":["10-14", "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevII_results_final
    
    def datim_agyw_prevIII(self):
        try:
            pivotableIII = self.__agyw_prevIII.rename(columns={"age_range":"Age", "agyw_period_range":"Time"})
            agyw_prevIII_pivot = pivotableIII.pivot_table(index="Age",columns="Time", values="code",aggfunc="count",fill_value=0,margins=True,margins_name="Total",dropna=False)[:-1]
            columns_pivotIII = list(agyw_prevIII_pivot.columns)
            indexes_pivotIII = list(agyw_prevIII_pivot.index)
            for period in AgywPrev.__PERIOD_DATIM:
                if period not in columns_pivotIII:
                    agyw_prevIII_pivot[period] = 0
            for age in AgywPrev.__AGE_DATIM:
                if age not in indexes_pivotIII:
                    agyw_prevIII_pivot.loc[age] = 0
            agyw_prevIII_pivot = agyw_prevIII_pivot.reindex(index=AgywPrev.__AGE_DATIM,columns =AgywPrev.__PERIOD_DATIM)
            agyw_prevIII_pivot_final = agyw_prevIII_pivot.reset_index().rename_axis(None, axis=1)
            agyw_prevIII_results_final = DataFrame( agyw_prevIII_pivot_final.to_records(index=False))
        except ValueError:
            agyw_prevIII_results_final = DataFrame({"Age":["10-14",                     "15-19",
                "20-24"],
                "0-6 months":[0,0,0],
                "07-12 months":[0,0,0],
                "13-24 months":[0,0,0],
                "25+ months":[0,0,0],
                "Total":[0,0,0]
            })
        return agyw_prevIII_results_final

In [6]:
%%capture
datim = AgywPrev()

In [7]:
datim.total_mastersheet 
datim.total_dreams_valid
datim.who_am_i
datim.total_datimI
datim.total_datimII
datim.total_datimIII
datim.total_datim_general
AgywPrev.datim_titleI()
datim.datim_agyw_prevI()
AgywPrev.datim_titleII()
datim.datim_agyw_prevII()
AgywPrev.datim_titleIII()
datim.datim_agyw_prevIII()

25463

16713

'DATIM'

6137

1214

6564

13915

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14         536          3409           784           0   4729
1  15-19         117           574           171           0    862
2  20-24          26           396           124           0    546

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14         103           534           125           0    762
1  15-19           4           197            71           0    272
2  20-24           4           133            43           0    180

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19         364          3105           903           0   4372
2  20-24         187          1527           478           0   2192

In [8]:
datim

## AGYW_Prev_Commune

In [9]:
class AgywPrevCommune(AgywPrev):
    """A class that extend AgywPrev with the purpose of the indicator AGYW_PREV DATIM by commune"""
    __who_am_I ="DATIM"
    def __init__(self,name):
        self.__name = name
        self.__i_am = f"{AgywPrevCommune.__who_am_I} {self.__name}"
        #self.__data =  DREAMS_MASTERSHEET
        super().__init__(self.__name)
        
    @property
    def who_am_i(self):
        return self.__i_am
    
    def __repr__(self):
        return f"<AgywPrevCommune {self.__i_am}>"
    
    def __str__(self):
        return f"<AgywPrevCommune {self.__i_am}>"

In [10]:
DREAMS_MASTERSHEET.actual_commune.unique()

array(['Verrettes', 'Delmas', 'Port-au-Prince', 'Carrefour', 'Limonade',
       'Plaine-du-Nord', 'Cap-Haïtien', 'Kenscoff', 'Dessalines',
       'Pétionville', 'Gressier', 'Saint-Marc', 'Tabarre', 'La Chapelle',
       'Milot', 'Liancourt', 'Quartier-Morin',
       "Petite Rivière de l'Artibonite", 'Grande Saline', 'Montrouis',
       'Desdunes'], dtype=object)

## dynamic

In [11]:
%%capture
def name_handler(s):
    s = sub(r"[^\w\s]", '', s)
    # Replace all runs of whitespace with a single dash
    s = sub(r"\s+", '_', s)
    return s

datimcommunes = []

for columns in DREAMS_MASTERSHEET.actual_commune.unique():
    globals()[f"datim_{name_handler(columns)}"] = AgywPrevCommune(f"{columns}")
    datimcommunes.append(globals().get(f"datim_{name_handler(columns)}"))

In [12]:
datimcommunes

[<AgywPrevCommune DATIM Verrettes>,
 <AgywPrevCommune DATIM Delmas>,
 <AgywPrevCommune DATIM Port-au-Prince>,
 <AgywPrevCommune DATIM Carrefour>,
 <AgywPrevCommune DATIM Limonade>,
 <AgywPrevCommune DATIM Plaine-du-Nord>,
 <AgywPrevCommune DATIM Cap-Haïtien>,
 <AgywPrevCommune DATIM Kenscoff>,
 <AgywPrevCommune DATIM Dessalines>,
 <AgywPrevCommune DATIM Pétionville>,
 <AgywPrevCommune DATIM Gressier>,
 <AgywPrevCommune DATIM Saint-Marc>,
 <AgywPrevCommune DATIM Tabarre>,
 <AgywPrevCommune DATIM La Chapelle>,
 <AgywPrevCommune DATIM Milot>,
 <AgywPrevCommune DATIM Liancourt>,
 <AgywPrevCommune DATIM Quartier-Morin>,
 <AgywPrevCommune DATIM Petite Rivière de l'Artibonite>,
 <AgywPrevCommune DATIM Grande Saline>,
 <AgywPrevCommune DATIM Montrouis>,
 <AgywPrevCommune DATIM Desdunes>]

In [13]:
for dcommunes in datimcommunes:
    dcommunes.total_mastersheet 
    dcommunes.total_dreams_valid
    dcommunes.who_am_i
    dcommunes.total_datimI
    dcommunes.total_datimII
    dcommunes.total_datimIII
    dcommunes.total_datim_general
    AgywPrevCommune.datim_titleI()
    dcommunes.datim_agyw_prevI()
    AgywPrevCommune.datim_titleII()
    dcommunes.datim_agyw_prevII()
    AgywPrevCommune.datim_titleIII()
    dcommunes.datim_agyw_prevIII()
    print(" ")
    print(" ")
    print(" ")
    print(" ")

25463

1897

'DATIM Verrettes'

701

168

751

1620

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          17           444            48           0    509
1  15-19          37            62            24           0    123
2  20-24           8            50            11           0     69

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          36            87             8           0    131
1  15-19           1            20             4           0     25
2  20-24           0             9             3           0     12

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          13           451            52           0    516
2  20-24           9           208            18           0    235

25463

481

'DATIM Delmas'

153

27

265

445

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          33            54            33           0    120
1  15-19           0            10            11           0     21
2  20-24           0             3             9           0     12

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             7             8           0     15
1  15-19           0             2             6           0      8
2  20-24           0             3             1           0      4

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          31            71            66           0    168
2  20-24          17            35            45           0     97

25463

620

'DATIM Port-au-Prince'

204

21

346

571

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          18           129            25           0    172
1  15-19           7            13             2           0     22
2  20-24           1             5             4           0     10

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            10             1           0     11
1  15-19           1             3             0           0      4
2  20-24           0             5             1           0      6

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          20           163            45           0    228
2  20-24           8            81            29           0    118

25463

1338

'DATIM Carrefour'

587

45

546

1178

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          31           320           127           0    478
1  15-19          13            46            14           0     73
2  20-24           8            22             6           0     36

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           5            24             9           0     38
1  15-19           0             4             0           0      4
2  20-24           0             3             0           0      3

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          12           232           117           0    361
2  20-24          13            93            79           0    185

25463

536

'DATIM Limonade'

146

37

235

418

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          37            65            34           0    136
1  15-19           0             8             0           0      8
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2            20             1           0     23
1  15-19           0            10             0           0     10
2  20-24           0             4             0           0      4

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          23           121            33           0    177
2  20-24           5            47             6           0     58

25463

256

'DATIM Plaine-du-Nord'

57

7

88

152

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          14            34             9           0     57
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             4             0           0      4
1  15-19           0             1             0           0      1
2  20-24           0             0             2           0      2

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           1            43            21           0     65
2  20-24           0            10            13           0     23

25463

880

'DATIM Cap-Haïtien'

235

14

368

617

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          22           176            25           0    223
1  15-19           0             2             3           0      5
2  20-24           0             5             2           0      7

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            12             0           0     12
1  15-19           0             0             0           0      0
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          14           175            56           0    245
2  20-24          11            99            13           0    123

25463

2698

'DATIM Kenscoff'

1394

199

845

2438

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          78           622           252           0    952
1  15-19          14           189            56           0    259
2  20-24           2           128            53           0    183

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           7            69            39           0    115
1  15-19           1            35            17           0     53
2  20-24           3            16            12           0     31

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          33           348           184           0    565
2  20-24          25           160            95           0    280

25463

1181

'DATIM Dessalines'

540

70

402

1012

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          57           352            50           0    459
1  15-19           4            54             5           0     63
2  20-24           2            14             2           0     18

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2            18             6           0     26
1  15-19           0            12            15           0     27
2  20-24           0            13             4           0     17

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          39           254            55           0    348
2  20-24           3            36            15           0     54

25463

390

'DATIM Pétionville'

89

17

187

293

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           6            57            20           0     83
1  15-19           0             4             1           0      5
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             3             3           0      6
1  15-19           1             2             3           0      6
2  20-24           1             2             2           0      5

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          10            74            37           0    121
2  20-24           5            40            21           0     66

25463

849

'DATIM Gressier'

285

41

324

650

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          76           106            30           0    212
1  15-19           6            26            15           0     47
2  20-24           1            18             7           0     26

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           4            16             7           0     27
1  15-19           0             1             4           0      5
2  20-24           0             4             5           0      9

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          57            95            46           0    198
2  20-24          42            60            24           0    126

25463

1109

'DATIM Saint-Marc'

386

114

431

931

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          90           132            31           0    253
1  15-19           7            32            16           0     55
2  20-24           1            65            12           0     78

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          28            50             7           0     85
1  15-19           0            21             2           0     23
2  20-24           0             6             0           0      6

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          46           203            45           0    294
2  20-24          13            96            28           0    137

25463

378

'DATIM Tabarre'

134

41

143

318

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0           101            10           0    111
1  15-19           0            14             0           0     14
2  20-24           0             8             1           0      9

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            23             2           0     25
1  15-19           0            11             0           0     11
2  20-24           0             4             1           0      5

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           4            68            32           0    104
2  20-24           0            24            15           0     39

25463

607

'DATIM La Chapelle'

123

0

322

445

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0           103            17           0    120
1  15-19           0             1             0           0      1
2  20-24           0             1             1           0      2

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          20           128            26           0    174
2  20-24          21           117            10           0    148

25463

334

'DATIM Milot'

107

23

105

235

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          19            60            11           0     90
1  15-19           3             0             7           0     10
2  20-24           0             1             6           0      7

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           3             9             8           0     20
1  15-19           0             0             3           0      3
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           4            51            15           0     70
2  20-24           1            26             8           0     35

25463

204

'DATIM Liancourt'

47

113

42

202

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           2            10             3           0     15
1  15-19          10            11             1           0     22
2  20-24           1             9             0           0     10

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           3            54             1           0     58
1  15-19           0            32             6           0     38
2  20-24           0            11             6           0     17

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           7            20             6           0     33
2  20-24           5             3             1           0      9

25463

130

'DATIM Quartier-Morin'

19

0

28

47

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           4            15             0           0     19
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0             0             0           0      0
2  20-24           0             0             0           0      0

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           3            23             0           0     26
2  20-24           0             2             0           0      2

25463

715

"DATIM Petite Rivière de l'Artibonite"

221

62

217

500

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           9           102            28           0    139
1  15-19           1            30            13           0     44
2  20-24           0            31             7           0     38

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            12            10           0     22
1  15-19           0            15             4           0     19
2  20-24           0            17             4           0     21

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          14            92            41           0    147
2  20-24           5            48            17           0     70

25463

1136

'DATIM Grande Saline'

348

70

569

987

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           7           294            13           0    314
1  15-19           0            20             2           0     22
2  20-24           0            10             2           0     12

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            44             4           0     48
1  15-19           0             8             1           0      9
2  20-24           0            12             1           0     13

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           0           303            15           0    318
2  20-24           1           222            28           0    251

25463

387

'DATIM Montrouis'

136

52

128

316

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           8           106             2           0    116
1  15-19           0            19             0           0     19
2  20-24           0             1             0           0      1

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0            38             1           0     39
1  15-19           0            11             0           0     11
2  20-24           0             2             0           0      2

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19          11            85             1           0     97
2  20-24           2            26             3           0     31

25463

587

'DATIM Desdunes'

225

93

222

540

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services but have not received any services beyond the primary package.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           8           127            16           0    151
1  15-19          15            33             1           0     49
2  20-24           2            22             1           0     25

'Number of individual AGYW that have fully completed the entire DREAMS primary package of services AND at least one additional secondary service.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14          13            34            10           0     57
1  15-19           0             9             6           0     15
2  20-24           0            20             1           0     21

'Number of individual AGYW that have fully completed at least one DREAMS primary package of services but not the full primary package of services.'

     Age  0-6 months  07-12 months  13-24 months  25+ months  Total
0  10-14           0             0             0           0      0
1  15-19           2           105            10           0    117
2  20-24           1            94            10           0    105

df = datim_PortauPrince.data_agyw_prevII

list(df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total").columns)

listable = list(df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total").columns)
listable = sorted(listable)
listable

 pivot = df.pivot_table(index="age_range",columns="agyw_period_range", values="code",aggfunc="count",dropna=False,fill_value=0,margins=True,margins_name="Total")[:-1]

period = ["0-6 months", "07-12 months", "13-24 months","Total"]

for per in period:
    if per not in listable:
        pivot[per]=0

pivot

rowable = list(pivot.index)

agemoi = ["10-14","15-19", "20-24"]

for a in agemoi:
    if a not in rowable:
        pivot.loc[a] = 0

pivot

pivot.reindex(columns=period)