In [1]:
from agyw import AgywPrev, AgywPrevCommune
from re import sub

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from openpyxl import Workbook
from openpyxl.styles.colors import Color
from openpyxl.styles.fills import PatternFill
from openpyxl.styles import Font
from openpyxl.styles.alignment import Alignment
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles.borders import Border, Side

# Build Excel Datim / Communes

In [3]:
%%capture
datim = AgywPrev()

In [4]:
my_blue = Color(rgb="0000FF")
blue_fill = PatternFill(patternType="solid",fgColor=my_blue)
my_red = Color(rgb="FF0000")
red_fill = PatternFill(patternType="solid",fgColor=my_red)
bold_12 = Font(size=12,bold=True)
text_datim_title = Alignment(horizontal="center",vertical="bottom",wrapText=True)
thin_border = Border(left=Side(style='thin'), 
                     right=Side(style='thin'), 
                     top=Side(style='thin'), 
                     bottom=Side(style='thin'))

In [5]:
%%capture
wb = Workbook()
ws = wb.active
ws.title = datim.who_am_i

ws['A1'].fill = blue_fill
ws['A9'].fill = blue_fill
ws['A17'].fill = blue_fill

for rows in ws.iter_rows(min_row=7,max_row=7,min_col=1,max_col=40):
    for cell in rows:
        cell.fill = red_fill
for rows in ws.iter_rows(min_row=8,max_row=8,min_col=1,max_col=40):
    for cell in rows:
        cell.fill = red_fill
for rows in ws.iter_rows(min_row=15,max_row=15,min_col=1,max_col=40):
    for cell in rows:
        cell.fill = red_fill
for rows in ws.iter_rows(min_row=16,max_row=16,min_col=1,max_col=40):
    for cell in rows:
        cell.fill = red_fill

ws.merge_cells("B1:C1")
ws.cell(row=1,column=2).value = AgywPrev.datim_titleI()
ws.cell(row=1,column=2).font = bold_12
ws.cell(row=1,column=2).alignment =  text_datim_title

ws.merge_cells("B9:C9")
ws.cell(row=9,column=2).value = AgywPrev.datim_titleII()
ws.cell(row=9,column=2).font = bold_12
ws.cell(row=9,column=2).alignment =  text_datim_title

ws.merge_cells("B17:C17")
ws.cell(row=17,column=2).value = AgywPrev.datim_titleIII()
ws.cell(row=17,column=2).font = bold_12
ws.cell(row=17,column=2).alignment =  text_datim_title

ws['G5'] = datim.total_datimI
ws['G13'] = datim.total_datimII
ws['G20'] = datim.total_datimIII
ws['I13'] = datim.total_datim_general

rdf_datim_I = dataframe_to_rows(datim.datim_agyw_prevI(),index=False,header=True)
for ridx, row in enumerate(rdf_datim_I,1):
    for cidx, value in enumerate(row,1):
        cells = ws.cell(ridx+1,cidx,value)
        cells.border = thin_border
        cells

rdf_datim_II = dataframe_to_rows(datim.datim_agyw_prevII(),index=False,header=True)
for ridx, row in enumerate(rdf_datim_II,1):
    for cidx, value in enumerate(row,1):
        cells = ws.cell(ridx+9,cidx,value)
        cells.border = thin_border
        cells

rdf_datim_III = dataframe_to_rows(datim.datim_agyw_prevIII(),index=False,header=True)
for ridx, row in enumerate(rdf_datim_III,1):
    for cidx, value in enumerate(row,1):
        cells = ws.cell(ridx+17,cidx,value)
        cells.border = thin_border
        cells

In [6]:
#wb.sheetnames

def name_handler(s):
    s = sub(r"[^\w\s]", '', s)
    # Replace all runs of whitespace with a single dash
    s = sub(r"\s+", '_', s)
    return s

In [7]:
%%capture
worksheets = []
datimcommunes = []
for columns in datim.mastersheet_dataframe.actual_commune.unique():
    globals()[f"ws_{name_handler(columns)}"] = wb.create_sheet(title=AgywPrevCommune(f"{columns}").who_am_i)
    globals()[f"datim_{name_handler(columns)}"] =AgywPrevCommune(f"{columns}")
    worksheets.append(globals().get(f"ws_{name_handler(columns)}"))
    datimcommunes.append(globals().get(f"datim_{name_handler(columns)}"))

In [13]:
worksheets
datimcommunes

[<Worksheet "DATIM Verrettes">,
 <Worksheet "DATIM Delmas">,
 <Worksheet "DATIM Port-au-Prince">,
 <Worksheet "DATIM Carrefour">,
 <Worksheet "DATIM Limonade">,
 <Worksheet "DATIM Plaine-du-Nord">,
 <Worksheet "DATIM Cap-Haïtien">,
 <Worksheet "DATIM Kenscoff">,
 <Worksheet "DATIM Dessalines">,
 <Worksheet "DATIM Pétionville">,
 <Worksheet "DATIM Gressier">,
 <Worksheet "DATIM Saint-Marc">,
 <Worksheet "DATIM Tabarre">,
 <Worksheet "DATIM La Chapelle">,
 <Worksheet "DATIM Milot">,
 <Worksheet "DATIM Liancourt">,
 <Worksheet "DATIM Quartier-Morin">,
 <Worksheet "DATIM Petite Rivière de l'Artibonite">,
 <Worksheet "DATIM Grande Saline">,
 <Worksheet "DATIM Montrouis">,
 <Worksheet "DATIM Desdunes">]

[<agyw.AgywPrevCommune at 0x18dbf716460>,
 <agyw.AgywPrevCommune at 0x18dbf703f70>,
 <agyw.AgywPrevCommune at 0x18dc71377c0>,
 <agyw.AgywPrevCommune at 0x18dc713e400>,
 <agyw.AgywPrevCommune at 0x18dc7121940>,
 <agyw.AgywPrevCommune at 0x18dc7144eb0>,
 <agyw.AgywPrevCommune at 0x18dc7148430>,
 <agyw.AgywPrevCommune at 0x18dc714e970>,
 <agyw.AgywPrevCommune at 0x18dc7150f40>,
 <agyw.AgywPrevCommune at 0x18dc71564c0>,
 <agyw.AgywPrevCommune at 0x18dc715aa00>,
 <agyw.AgywPrevCommune at 0x18dc715bf40>,
 <agyw.AgywPrevCommune at 0x18dc07234c0>,
 <agyw.AgywPrevCommune at 0x18dc0729a00>,
 <agyw.AgywPrevCommune at 0x18dc072ef40>,
 <agyw.AgywPrevCommune at 0x18dc07364c0>,
 <agyw.AgywPrevCommune at 0x18dc0743a30>,
 <agyw.AgywPrevCommune at 0x18dc0746f70>,
 <agyw.AgywPrevCommune at 0x18dc07554f0>,
 <agyw.AgywPrevCommune at 0x18dc0759a30>,
 <agyw.AgywPrevCommune at 0x18dc075bf70>]

In [16]:
for dc in datimcommunes:
    dc.datim_agyw_prevII()

     Age  0-6 months  07-12 months  Total
0  10-14           6            90     96
1  15-19           0            24     24
2  20-24           0             3      3

     Age  07-12 months  13-24 months  Total
0  10-14            10             5     15
1  15-19             4             4      8

     Age  07-12 months  Total
0  10-14            11     11
1  15-19             3      3

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           5            31             3     39
1  15-19           0             4             0      4

     Age  0-6 months  07-12 months  Total
0  10-14           2            21     23
1  15-19           0            10     10

     Age  07-12 months  Total
0  10-14             4      4
1  15-19             1      1

     Age  07-12 months  Total
0  10-14            12     12

     Age  0-6 months  07-12 months  13-24 months  Total
0  10-14           2            66            19     87
1  15-19           0            35            10     45

     Age  07-12 months  Total
0  10-14            24     24
1  15-19            28     28

     Age  07-12 months  13-24 months  Total
0  10-14             4             2      6
1  15-19             4             0      4
2  20-24             1             0      1

     Age  07-12 months  Total
0  10-14            22     22
1  15-19             5      5
2  20-24             1      1

     Age  0-6 months  07-12 months  Total
0  10-14           9            45     54
1  15-19           0            23     23

     Age  07-12 months  Total
0  10-14            26     26
1  15-19            11     11

ValueError: No objects to concatenate

In [14]:
%%capture
for wscommunes, dcommunes in zip(worksheets,datimcommunes):
    wscommunes['A1'].fill = blue_fill
    wscommunes['A9'].fill = blue_fill
    wscommunes['A17'].fill = blue_fill
    for rows in wscommunes.iter_rows(min_row=7,max_row=7,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in wscommunes.iter_rows(min_row=8,max_row=8,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in wscommunes.iter_rows(min_row=15,max_row=15,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in wscommunes.iter_rows(min_row=16,max_row=16,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill

    wscommunes.merge_cells("B1:C1")
    wscommunes.cell(row=1,column=2).value = AgywPrevCommune.datim_titleI()
    wscommunes.cell(row=1,column=2).font = bold_12
    wscommunes.cell(row=1,column=2).alignment =  text_datim_title
    wscommunes.merge_cells("B9:C9")
    wscommunes.cell(row=9,column=2).value = AgywPrevCommune.datim_titleII()
    wscommunes.cell(row=9,column=2).font = bold_12
    wscommunes.cell(row=9,column=2).alignment =  text_datim_title
    wscommunes.merge_cells("B17:C17")
    wscommunes.cell(row=17,column=2).value = AgywPrevCommune.datim_titleIII()
    wscommunes.cell(row=17,column=2).font = bold_12
    wscommunes.cell(row=17,column=2).alignment =  text_datim_title
    wscommunes['G5'] = dcommunes.total_datimI
    wscommunes['G13'] = dcommunes.total_datimII
    wscommunes['G20'] = dcommunes.total_datimIII
    wscommunes['I13'] = dcommunes.total_datim_general

    for ridx, row in enumerate(dataframe_to_rows(dcommunes.datim_agyw_prevI(),index=False,header=True),1):
        for cidx, value in enumerate(row,1):
            cells = wscommunes.cell(ridx+1,cidx,value)
            cells.border = thin_border
            cells

    for ridx, row in enumerate(dataframe_to_rows(dcommunes.datim_agyw_prevII(),index=False,header=True),1):
        for cidx, value in enumerate(row,1):
            cells = wscommunes.cell(ridx+9,cidx,value)
            cells.border = thin_border
            cells

    for ridx, row in enumerate(dataframe_to_rows(dcommunes.datim_agyw_prevIII(),index=False,header=True),1):
        for cidx, value in enumerate(row,1):
            cells = wscommunes.cell(ridx+17,cidx,value)
            cells.border = thin_border
            cells

ValueError: No objects to concatenate

In [15]:
wb.save("test_AGYWPREV.xlsx")

%%capture
for columns in datim.mastersheet_dataframe.actual_commune.unique():
    globals()[f"ws_{name_handler(columns)}"] = wb.create_sheet(title=AgywPrevCommune(f"{columns}").who_am_i)
    globals()[f"datim_{name_handler(columns)}"] =AgywPrevCommune(f"{columns}")
  
    globals().get(f"ws_{name_handler(columns)}")['A1'].fill = blue_fill
    globals().get(f"ws_{name_handler(columns)}")['A9'].fill = blue_fill
    globals().get(f"ws_{name_handler(columns)}")['A17'].fill = blue_fill

    for rows in globals().get(f"ws_{name_handler(columns)}").iter_rows(min_row=7,max_row=7,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in globals().get(f"ws_{name_handler(columns)}").iter_rows(min_row=8,max_row=8,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in globals().get(f"ws_{name_handler(columns)}").iter_rows(min_row=15,max_row=15,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill
    for rows in globals().get(f"ws_{name_handler(columns)}").iter_rows(min_row=16,max_row=16,min_col=1,max_col=40):
        for cell in rows:
            cell.fill = red_fill

    globals().get(f"ws_{name_handler(columns)}").merge_cells("B1:C1")
    globals().get(f"ws_{name_handler(columns)}").cell(row=1,column=2).value = AgywPrevCommune.datim_titleI()
    globals().get(f"ws_{name_handler(columns)}").cell(row=1,column=2).font = bold_12
    globals().get(f"ws_{name_handler(columns)}").cell(row=1,column=2).alignment =  text_datim_title
    globals().get(f"ws_{name_handler(columns)}").merge_cells("B9:C9")
    globals().get(f"ws_{name_handler(columns)}").cell(row=9,column=2).value = AgywPrevCommune.datim_titleII()
    globals().get(f"ws_{name_handler(columns)}").cell(row=9,column=2).font = bold_12
    globals().get(f"ws_{name_handler(columns)}").cell(row=9,column=2).alignment =  text_datim_title
    globals().get(f"ws_{name_handler(columns)}").merge_cells("B17:C17")
    globals().get(f"ws_{name_handler(columns)}").cell(row=17,column=2).value = AgywPrevCommune.datim_titleIII()
    globals().get(f"ws_{name_handler(columns)}").cell(row=17,column=2).font = bold_12
    globals().get(f"ws_{name_handler(columns)}").cell(row=17,column=2).alignment =  text_datim_title
    globals().get(f"ws_{name_handler(columns)}")['G5'] = globals().get(f"datim_{name_handler(columns)}").total_datimI
    globals().get(f"ws_{name_handler(columns)}")['G13'] = globals().get(f"datim_{name_handler(columns)}").total_datimII
    globals().get(f"ws_{name_handler(columns)}")['G20'] = globals().get(f"datim_{name_handler(columns)}").total_datimIII
    globals().get(f"ws_{name_handler(columns)}")['I13'] = globals().get(f"datim_{name_handler(columns)}").total_datim_general
    
    #for ridx, row in enumerate(dataframe_to_rows(globals().get(f"datim_{name_handler(columns)}").datim_agyw_prevI(),index=False,header=True),1):
     #   for cidx, value in enumerate(row,1):
      #      cells = globals().get(f"ws_{name_handler(columns)}").cell(ridx+1,cidx,value)
       #     cells.border = thin_border
        #    cells

    #for ridx, row in enumerate(dataframe_to_rows(globals().get(f"datim_{name_handler(columns)}").datim_agyw_prevII(),index=False,header=True),1):
     #   for cidx, value in enumerate(row,1):
      #      cells = globals().get(f"ws_{name_handler(columns)}").cell(ridx+9,cidx,value)
       #     cells.border = thin_border
        #    cells

    #for ridx, row in enumerate(dataframe_to_rows(globals().get(f"datim_{name_handler(columns)}").datim_agyw_prevIII(),index=False,header=True),1):
     #   for cidx, value in enumerate(row,1):
      #      cells = globals().get(f"ws_{name_handler(columns)}").cell(ridx+17,cidx,value)
       #     cells.border = thin_border
        #    cells