In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from base_dreams_session import mastersheet_served,agyw_served, agyw_served_period

In [2]:
from numpy import int16
import pandas as pd

In [12]:
mastersheet_served.id_patient

       id_patient  id_patient
0               0         NaN
1           51353         NaN
2           51354         NaN
3           51355         NaN
4           51356         NaN
...           ...         ...
29814      123969         NaN
29815      123970         NaN
29816      123973         NaN
29817      123974         NaN
29818      123976         NaN

[29819 rows x 2 columns]

In [6]:
#mastersheet_served[mastersheet_served.isin(agyw_served_period.id_patient)]
#agyw_served[agyw_served.isin(agyw_served_period.id_patient)]


#mastersheet_served[~mastersheet_served.isin(agyw_served_period.id_patient)]
#agyw_served[~agyw_served.isin(agyw_served_period.id_patient)]