In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine, text
from decouple import config 
from dotenv import load_dotenv
from pandas import (
    read_sql_query, 
    DataFrame,
    ExcelWriter,
    options
)
from dataframe_image import export


from enum import Enum
import openpyxl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


from IPython.display import display_html

In [2]:
class Period(Enum):
    start = '2024-01-01'
    end = datetime.today().strftime("%Y-%m-%d")
    date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [3]:
load_dotenv("../actual_caris_host.env")
# get the environment variables needed
USER = config('USRCaris')
PASSWORD = config('PASSCaris')
HOSTNAME = config('HOSTCaris')
DBNAME = config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(
    f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")



query = f'''
SELECT 
    dh.id_patient,
    GROUP_CONCAT(DISTINCT dhs.id_group, '') AS id_group,
    dh.created_by,
    au.email AS email,
    au.username,
    MAX(dh.created_at) AS entry_date,
    COUNT(*) AS quantity
FROM
    caris_db.dream_hivinfos dh
        LEFT JOIN
    auth_users au ON au.id = dh.created_by
        LEFT JOIN
    dream_hivinfos_session dhs ON dhs.id = dh.id_dream_hivinfos_session
GROUP BY  dh.created_by, dh.id_patient 
HAVING (entry_date >= '{Period.start.value}'
    AND entry_date <= '{Period.end.value}')
'''




dhi1 = read_sql_query(text(query), engine.connect(), parse_dates=True)


# close the pool of connection
engine.dispose()

True

In [4]:
dhi1.id_patient.count()
dhi =  dhi1.groupby(['username']).count()
dhi.quantity.sum()

0

0

In [5]:
dhi1.columns
dhi

Index(['id_patient', 'id_group', 'created_by', 'email', 'username',
       'entry_date', 'quantity'],
      dtype='object')

Empty DataFrame
Columns: [id_patient, id_group, created_by, email, entry_date, quantity]
Index: []

In [6]:
dhi_report = dhi[['quantity']]
dhi_report.reset_index(inplace=True)
dhi_report

Empty DataFrame
Columns: [username, quantity]
Index: []

In [7]:
dhi_report.to_excel('rapport_hivinfos.xlsx',na_rep="",index=False)