In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
from pandas import (
    read_sql_query, 
    DataFrame,
    ExcelWriter,
    options
)
from dataframe_image import export


from enum import Enum
import openpyxl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from IPython.display import display_html

In [2]:
class Period(Enum):
    start = '2022-01-01'
    end='2022-03-31'
    date_du_jour = datetime.today().strftime("%d_%m_%Y")

In [3]:
load_dotenv()
# get the environment variables needed
USER = config('USRCaris')
PASSWORD = config('PASSCaris')
HOSTNAME = config('HOSTCaris')
DBNAME = config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(
    f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")



query = f'''
SELECT 
    dh.*,
    dhs.data_name,
    MAX(dhs.date) AS entry_date,
    GROUP_CONCAT(DISTINCT dhs.id_group, '') AS id_group,
    COUNT(*) AS quantity
FROM
    caris_db.dream_hivinfos dh
        LEFT JOIN
    dream_hivinfos_session dhs ON dhs.id = dh.id_dream_hivinfos_session
GROUP BY dhs.data_name, dh.id_patient
HAVING (entry_date >= '{Period.start.value}'
    AND entry_date <= '{Period.end.value}')
'''




dhi1 = read_sql_query(query, engine, parse_dates=True)


# close the pool of connection
engine.dispose()

True

In [4]:
dhi1.id_patient.count()
dhi =  dhi1.groupby(['data_name']).count()
dhi.quantity.sum()

1030

1030

In [5]:
dhi_report = dhi[['quantity']]
dhi_report.reset_index(inplace=True)
dhi_report

                              data_name  quantity
0                           Accy Nadege        18
1                     Benjamin Ketlande        15
2   Charles Joseline Alexis Fresgarline         5
3                         Cine Rosemane        14
4                        Claude Germane        27
5                      Dangervil Charma        17
6                           Danise Rene        15
7                 Derise Marie Weslaine        49
8                 Diego Armando Dorlean       332
9                     Dieujuste Wilm√®ne        12
10                       Dorvil Midlyne        17
11                       Duthlie Pierre        41
12                   Elouice Seorgeline         2
13                         Ernst Belabe        26
14                        Gerald Poteau        32
15                         Gerty Beaudo        14
16                       Gerty Bourdeau         9
17                     Glaude Clermanne        10
18                      Glaude Germanne        12
19                  Innocent Christelle         6
20                       Linese Camilus         9
21               Louis Daphka Stephanie         6
22                 Maisonneuve Carshena        19
23          Marcfarlane Pierre Mathurin         5
24                Marie Weslaine Derise       175
25                    Maurice Mackensia        11
26                     Mervelus Gerline        37
27                Michaud Vilaire Berly        18
28                       Midlyne Dorvil        17
29                             Mirline          7
30                      Pharadia Fleury         2
31                     Philistin Claire         3
32                          RENE DANISE         1
33                          Rene Danise        24
34                        Rene Modeline         8
35                Saint Fleurant Rosena         8
36                   Yousena Demosthene         7

In [6]:
load_dotenv()
# get the environment variables needed
USER = config('USRCaris')
PASSWORD = config('PASSCaris')
HOSTNAME = config('HOSTCaris')
DBNAME = config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(
    f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")



query = f'''
SELECT 
    dh.*,
    dhs.data_name,
    MAX(dhs.date) AS entry_date,
    GROUP_CONCAT(DISTINCT dhs.id_group, '') AS id_group,
    COUNT(*) AS quantity
FROM
    caris_db.dream_hivinfos dh
        LEFT JOIN
    dream_hivinfos_session dhs ON dhs.id = dh.id_dream_hivinfos_session
GROUP BY dhs.data_name
HAVING (entry_date >= '{Period.start.value}'
    AND entry_date <= '{Period.end.value}')
'''




dhi2 = read_sql_query(query, engine, parse_dates=True)


# close the pool of connection
engine.dispose()

True

In [7]:
Period.end.value

'2022-03-31'

In [8]:
dh_report = dhi2[['data_name','entry_date','quantity']]
dh_report.rename(columns={'quantity':'nombre_infos_perSession'},inplace=True)
dh_report

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_8697/680292962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dh_report.rename(columns={'quantity':'nombre_infos_perSession'},inplace=True)

                              data_name  entry_date  nombre_infos_perSession
0                           Accy nadege  2022-03-08                      223
1                     Benjamin Ketlande  2022-03-03                       15
2   Charles Joseline Alexis Fresgarline  2022-01-23                        5
3                         Cine Rosemane  2022-02-12                       14
4                        Claude Germane  2022-01-15                       27
5                      Dangervil Charma  2022-02-12                      136
6                           Danise Rene  2022-02-12                      123
7                 Derise Marie Weslaine  2022-01-24                     4605
8                 Diego Armando Dorlean  2022-02-11                     3857
9                     Dieujuste Wilm√®ne  2022-01-13                       25
10                       Dorvil Midlyne  2022-02-27                       96
11                       Duthlie Pierre  2022-03-03                     4282
12                   Elouice Seorgeline  2022-01-22                        2
13                         Ernst Belabe  2022-02-11                      717
14                        Gerald Poteau  2022-02-24                     2226
15                         Gerty Beaudo  2022-01-22                       14
16                       Gerty Bourdeau  2022-01-22                        9
17                     Glaude Clermanne  2022-02-12                       10
18                      Glaude Germanne  2022-01-15                       12
19                  Innocent Christelle  2022-03-03                        6
20                       Linese Camilus  2022-02-27                       16
21               Louis Daphka Stephanie  2022-02-12                        6
22                 Maisonneuve Carshena  2022-01-10                       19
23          Marcfarlane Pierre Mathurin  2022-02-26                        5
24                Marie Weslaine Derise  2022-02-12                     1037
25                    Maurice Mackensia  2022-01-13                       11
26                     Mervelus Gerline  2022-01-15                      111
27                Michaud Vilaire Berly  2022-03-03                       18
28                       MIDLYNE DORVIL  2022-03-06                       53
29                             Mirline   2022-01-21                        7
30                      Pharadia Fleury  2022-02-19                      211
31                     Philistin Claire  2022-02-12                        3
32                          RENE DANISE  2022-01-08                      172
33                        Rene Modeline  2022-02-12                        8
34                Saint Fleurant Rosena  2022-02-27                       37
35                   Yousena Demosthene  2022-01-29                       15

In [9]:
dh_report.data_name = dh_report.data_name.str.lower()
dhi_report.data_name = dhi_report.data_name.str.lower()



df1_styler = dh_report.style.set_table_attributes("style='display:inline'").set_caption('dh report')
df2_styler = dhi_report.style.set_table_attributes("style='display:inline'").set_caption('dhi report')

display_html(f"{df1_styler._repr_html_()}  LA COMPARAISON VISUELLE  {df2_styler._repr_html_()}", raw=True)

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_8697/1114690279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dh_report.data_name = dh_report.data_name.str.lower()
/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_8697/1114690279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dhi_report.data_name = dhi_report.data_name.str.lower()

In [10]:
report_dhi = dhi_report.merge(dh_report, on='data_name',how='left')
report_dhi = report_dhi[['data_name', 'quantity','nombre_infos_perSession','entry_date']]
report_dhi.rename(columns={
        'quantity':'nombre_agyw_perSession' 
    },
        inplace = True
)
report_dhi

,data_name,nombre_agyw_perSession,nombre_infos_perSession,entry_date
0,accy nadege,18,223,2022-03-08
1,benjamin ketlande,15,15,2022-03-03
2,charles joseline alexis fresgarline,5,5,2022-01-23
3,cine rosemane,14,14,2022-02-12
4,claude germane,27,27,2022-01-15
5,dangervil charma,17,136,2022-02-12
6,danise rene,15,123,2022-02-12
7,derise marie weslaine,49,4605,2022-01-24
8,diego armando dorlean,332,3857,2022-02-11
9,dieujuste wilm√®ne,12,25,2022-01-13
10,dorvil midlyne,17,96,2022-02-27
11,duthlie pierre,41,4282,2022-03-03
12,elouice seorgeline,2,2,2022-01-22
13,ernst belabe,26,717,2022-02-11
14,gerald poteau,32,2226,2022-02-24
15,gerty beaudo,14,14,2022-01-22
16,gerty bourdeau,9,9,2022-01-22
17,glaude clermanne,10,10,2022-02-12
18,glaude germanne,12,12,2022-01-15
19,innocent christelle,6,6,2022-03-03
20,linese camilus,9,16,2022-02-27
21,louis daphka stephanie,6,6,2022-02-12
22,maisonneuve carshena,19,19,2022-01-10
23,marcfarlane pierre mathurin,5,5,2022-02-26
24,marie weslaine derise,175,1037,2022-02-12
25,maurice mackensia,11,11,2022-01-13
26,mervelus gerline,37,111,2022-01-15
27,michaud vilaire berly,18,18,2022-03-03
28,midlyne dorvil,17,53,2022-03-06
29,mirline,7,7,2022-01-21
30,pharadia fleury,2,211,2022-02-19
31,philistin claire,3,3,2022-02-12
32,rene danise,1,172,2022-01-08
33,rene danise,24,172,2022-01-08
34,rene modeline,8,8,2022-02-12
35,saint fleurant rosena,8,37,2022-02-27
36,yousena demosthene,7,15,2022-01-29

In [11]:
report_dhi.to_excel('rapport_dhi.xlsx',index=False,na_rep="")