In [1]:
from datetime import datetime
from IPython.core.interactiveshell import InteractiveShell
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
from pandas import read_sql_query, read_excel

InteractiveShell.ast_node_interactivity = "all"

In [2]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")
query = '''
SELECT 
    d.case_id,
    dm.id_patient as id_patient,
    p.patient_code AS code,
    d.a_non_patisipan_an AS first_name,
    d.b_siyati AS last_name,
    TIMESTAMPDIFF(YEAR,
        d.nan_ki_dat_ou_fet,
        now()) AS age,
    d.nan_ki_dat_ou_fet AS dob,
    d.a1_dat_entvyou_a_ft_jjmmaa_egz_010817 AS interview_date,
    d.e__telefn,
    d.d_adrs AS adress,
    IF(dm.id IS NOT NULL, 'yes', 'no') AS already_in_a_group,
    dm.id_group AS actual_id_group,
    dg.name AS actual_group_name,
    dm.id_parenting_group AS actual_id_parenting_group,
    dpg.name AS actual_parenting_group_name,
    dh.name AS actual_hub,
    ld.name AS actual_departement,
    d.f_komin AS commune,
    d.g_seksyon_kominal AS commune_section,
    d.b1_non_moun_mennen_entvyou_a AS interviewer_firstname,
    d.c1_siyati_moun_ki_f_entvyou_a AS interviewer_lastname,
    d.d1_kad AS interviewer_role,
    d.lot_kad AS interviewer_other_info,
    d.h_kote_entvyou_a_ft AS interview_location,
    d.paran_ou_vivan AS is_your_parent_alive,
    d.i_non_manman AS mothers_name,
    d.j_non_papa AS fathers_name,
    d.k_reskonsab_devan_lalwa AS who_is_your_law_parent,
    d.total,
    d.organisation
FROM
    caris_db.dreams_surveys_data d
        LEFT JOIN
    dream_member dm ON dm.case_id = d.case_id
        LEFT JOIN
    patient p ON p.id = dm.id_patient
        LEFT JOIN
    dream_group dg ON dg.id = dm.id_group
        LEFT JOIN
    dream_group dpg ON dpg.id = dm.id_parenting_group
        LEFT JOIN
    dream_hub dh ON dh.id = dg.id_dream_hub
        LEFT JOIN
    lookup_commune lc ON lc.id = dh.commune
        LEFT JOIN
    lookup_departement ld ON ld.id = lc.departement
'''

sdata = read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()
agywfb = read_excel('./15agywFP.xlsx',sheet_name=2)

True

In [3]:
sdata.case_id.count()
agywfb.case_id.count()
agywfb

65760

15

,case_id,conc_sd,conc,organisation
0,00cb5fcf-1780-468e-a90f-a0c9882aed26,PIERRE Odette,Odette Pierre,CRS
1,c6d637a6-7dde-42c8-9e41-ece9dc2aa171,THEODORE Marceline,Marceline Théodore,CARIS
2,3e9b6992-f39f-4be4-83c7-29b6cec1d841,JEAN Samantha,Samantha Jean,CARIS
3,bce3502f-f275-45b8-a085-2739482545de,ALCIUS Junie,Junie Alcuis,CARIS
4,721e626b-c724-44ce-bad8-ea7cf593f70c,PIERRE Chiseline,Chiseline Pierre,CRS
5,6bb4d8ea-ae3e-4c49-885d-5e2ac17712c0,INNOCENT Maculaine,Maculaine Innocent,CARIS
6,c046a535-c382-4d27-a6b1-591459782e7f,AURELUS Tama,Tamar Aurelus,CRS
7,aac5f0ef-abd6-4e66-aa87-98ef5f947aa2,SAINCY Vanessa,vanessa saint - dic,CARIS
8,25f62d0a-c112-4768-9b41-0a701a8e4cc2,MIRACLE Novia,norvia miracle,CARIS
9,5ed8ba2b-c848-40d2-8df0-887415efd25d,PIERRE Abigaelle,Abigaelle Pierre,CRS
10,13acc31a-3fb9-4451-83be-26d1e25623f6,ST VERTUS Patricia,ST VERTUS Patricia,Caris
11,86cd7805-0a10-428c-860f-d5f06822a365,MICHEL Tichoute Marie,Marie Michelle Tichoute,CARIS
12,7ca76f90-408d-45c0-a7c1-df68e11f64e5,VILME Cherley,Cherly Vilme,CARIS
13,43c15882-155b-4181-b86b-4da2e47eb773,POLIME Witza,Withza Paulimé,CARIS
14,7f030269-57db-4f0b-854d-af8af6824d55,JEAN RELIAN Carina,Carine Jean,CRS

In [4]:
agywfb = agywfb[['case_id','conc_sd']]
agywfb

                                 case_id                conc_sd
0   00cb5fcf-1780-468e-a90f-a0c9882aed26          PIERRE Odette
1   c6d637a6-7dde-42c8-9e41-ece9dc2aa171     THEODORE Marceline
2   3e9b6992-f39f-4be4-83c7-29b6cec1d841          JEAN Samantha
3   bce3502f-f275-45b8-a085-2739482545de           ALCIUS Junie
4   721e626b-c724-44ce-bad8-ea7cf593f70c       PIERRE Chiseline
5   6bb4d8ea-ae3e-4c49-885d-5e2ac17712c0     INNOCENT Maculaine
6   c046a535-c382-4d27-a6b1-591459782e7f           AURELUS Tama
7   aac5f0ef-abd6-4e66-aa87-98ef5f947aa2         SAINCY Vanessa
8   25f62d0a-c112-4768-9b41-0a701a8e4cc2          MIRACLE Novia
9   5ed8ba2b-c848-40d2-8df0-887415efd25d       PIERRE Abigaelle
10  13acc31a-3fb9-4451-83be-26d1e25623f6     ST VERTUS Patricia
11  86cd7805-0a10-428c-860f-d5f06822a365  MICHEL Tichoute Marie
12  7ca76f90-408d-45c0-a7c1-df68e11f64e5          VILME Cherley
13  43c15882-155b-4181-b86b-4da2e47eb773           POLIME Witza
14  7f030269-57db-4f0b-854d-af8af6824d55     JEAN RELIAN Carina

In [5]:
almost_complete = sdata[sdata.case_id.isin(agywfb.case_id)]
almost_complete.case_id.count()

15

In [6]:
agyw15fp = agywfb.merge(almost_complete,how='left', on='case_id')
agyw15fp.conc_sd = agyw15fp.conc_sd.str.lower()
agyw15fp.first_name = agyw15fp.first_name.str.lower()
agyw15fp.last_name = agyw15fp.last_name.str.lower()
agyw15fp.style

In [7]:
agyw15fp.to_excel('rechercheSys_15agyw_FP.xlsx',index=False,na_rep="")