In [1]:
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
import pandas as pd
from numpy import int16

In [2]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")
query = '''
    SELECT 
    agent_username, COUNT(*) AS nbre,
    dsd.organisation,
    dsd.created_ad as entry_date
FROM
    caris_db.dreams_surveys_data dsd
WHERE
    dsd.created_ad >= '2021-03-01'
GROUP BY agent_username
'''

agent = pd.read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()

## Agent DREAMS sortant du Systeme

In [3]:
agent.rename(columns={'agent_username':'username'},inplace=True)
agent

             username  nbre organisation          entry_date
0           1annuelle    23        CARIS 2021-04-27 11:30:53
1            1dialine    73        CARIS 2021-03-24 09:51:01
2             1joanne    12        CARIS 2021-04-17 08:46:33
3            1laurent    60        CARIS 2021-04-19 13:26:44
4             1lovely     4        CARIS 2021-04-28 08:52:35
5           1melienne     9        CARIS 2021-04-06 10:18:20
6            1monique     6        CARIS 2021-04-17 08:32:04
7              2billy   206        CARIS 2021-03-23 07:30:42
8               2davy    21        CARIS 2021-04-28 10:58:19
9             2eliona   237        CARIS 2021-03-26 08:31:43
10           2fabrice   325        CARIS 2021-03-16 09:41:32
11      2woodridchard   197        CARIS 2021-04-08 09:13:35
12          6celimene   110        CARIS 2021-03-12 07:50:01
13        6cousseline    60        CARIS 2021-03-04 05:46:20
14          6dalancia    27        CARIS 2021-03-09 15:17:46
15           6dulande    12        CARIS 2021-03-17 06:17:15
16            6gerana     1        CARIS 2021-03-19 10:04:27
17            6lorina    65        CARIS 2021-03-24 11:32:09
18   6lovemyschinider     7        CARIS 2021-05-01 19:14:55
19          6madeline    10        CARIS 2021-03-30 09:38:27
20           6maneuse    54        CARIS 2021-03-24 11:24:18
21        6marckensia    18        CARIS 2021-03-17 12:15:50
22            6mirtha    13        CARIS 2021-04-29 09:47:58
23            6reline   180        CARIS 2021-03-08 05:23:10
24          6ritamene    13        CARIS 2021-05-02 15:59:06
25            6rosena     1        CARIS 2021-03-30 09:02:24
26           6solanda    91        CARIS 2021-03-08 19:59:10
27  6verlinedasherley     5        CARIS 2021-03-08 15:55:12
28           6wilmene    19        CARIS 2021-03-28 18:02:25

In [4]:
agent_name = pd.read_excel("caris-test_users_e1a8bf6e7a8849eb8858b64bb02dab1c.xlsx", sheet_name='uname')

## Liste de tous les agents avec Leur nom

In [5]:
#agent_name[agent_name['username']=='2gerald']

## MERGE (Vlookup)

In [6]:
performanceAgents = agent_name.merge(agent,on="username",how="inner")

In [9]:
performanceAgents.to_excel("performancedesAgents.xlsx",index=False,na_rep="NULL")

In [8]:
performanceAgents

,username,name,nbre,organisation,entry_date
0,1annuelle,Annuelle Eustache,23,CARIS,2021-04-27 11:30:53
1,1dialine,Dialine Belony,73,CARIS,2021-03-24 09:51:01
2,1joanne,SAINTILIAS Joanne,12,CARIS,2021-04-17 08:46:33
3,1laurent,Laurent Lucien,60,CARIS,2021-04-19 13:26:44
4,1lovely,Lovely Martin,4,CARIS,2021-04-28 08:52:35
5,1melienne,INELUS Amelienne,9,CARIS,2021-04-06 10:18:20
6,1monique,Monique Louis Pierre,6,CARIS,2021-04-17 08:32:04
7,2billy,Billy jolicoeur,206,CARIS,2021-03-23 07:30:42
8,2davy,Jean Davy Mexil,21,CARIS,2021-04-28 10:58:19
9,2eliona,Eliona Fredly,237,CARIS,2021-03-26 08:31:43
10,2fabrice,Fabrice Byron,325,CARIS,2021-03-16 09:41:32
11,2woodridchard,Wood-Ridchard Bon,197,CARIS,2021-04-08 09:13:35
12,6celimene,Celimene Laine,110,CARIS,2021-03-12 07:50:01
13,6cousseline,Cousseline Osias,60,CARIS,2021-03-04 05:46:20
14,6dalancia,Dalancia Renelus,27,CARIS,2021-03-09 15:17:46
15,6dulande,Dulande Riboul,12,CARIS,2021-03-17 06:17:15
16,6gerana,Gerana David,1,CARIS,2021-03-19 10:04:27
17,6lorina,Lorina Previlon,65,CARIS,2021-03-24 11:32:09
18,6lovemyschinider,Lovemy Schinider Brutus,7,CARIS,2021-05-01 19:14:55
19,6madeline,Madeline Meus,10,CARIS,2021-03-30 09:38:27
20,6maneuse,Maneuse Previlon,54,CARIS,2021-03-24 11:24:18
21,6marckensia,Marckensia Maurice,18,CARIS,2021-03-17 12:15:50
22,6mirtha,Mirtha Osalva,13,CARIS,2021-04-29 09:47:58
23,6reline,Reline Augustin,180,CARIS,2021-03-08 05:23:10
24,6ritamene,Ritamène Fils,13,CARIS,2021-05-02 15:59:06
25,6rosena,Rosena Saint-Fleurant,1,CARIS,2021-03-30 09:02:24
26,6solanda,Solanda Danestan,91,CARIS,2021-03-08 19:59:10
27,6verlinedasherley,Verlineda Sherley Lubin,5,CARIS,2021-03-08 15:55:12
28,6wilmene,Wilmène Dieujuste,19,CARIS,2021-03-28 18:02:25