In [1]:
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
import pandas as pd
from numpy import int16

In [41]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")
query = '''
    SELECT 
    agent_username, COUNT(*) AS nbre,
    dsd.organisation,
    dsd.created_ad as entry_date
FROM
    caris_db.dreams_surveys_data dsd
WHERE
    dsd.created_ad >= '2021-03-01'
GROUP BY agent_username
'''

agent = pd.read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()

## Agent DREAMS sortant du Systeme

In [52]:
agent.rename(columns={'agent_username':'username'},inplace=True)
agent

             username  nbre organisation          entry_date
0            1dialine    73        CARIS 2021-03-24 09:51:01
1             1joanne    12        CARIS 2021-04-17 08:46:33
2            1laurent    46        CARIS 2021-04-19 13:26:44
3           1melienne     9        CARIS 2021-04-06 10:18:20
4            1monique     6        CARIS 2021-04-17 08:32:04
5              2billy   206        CARIS 2021-03-23 07:30:42
6               2davy    14        CARIS 2021-03-29 12:31:51
7             2eliona   237        CARIS 2021-03-26 08:31:43
8            2fabrice   325        CARIS 2021-03-16 09:41:32
9       2woodridchard   197        CARIS 2021-04-08 09:13:35
10          6celimene   110        CARIS 2021-03-12 07:50:01
11        6cousseline    60        CARIS 2021-03-04 05:46:20
12          6dalancia    27        CARIS 2021-03-09 15:17:46
13           6dulande    12        CARIS 2021-03-17 06:17:15
14            6gerana     1        CARIS 2021-03-19 10:04:27
15            6lorina    65        CARIS 2021-03-24 11:32:09
16          6madeline    10        CARIS 2021-03-30 09:38:27
17           6maneuse    54        CARIS 2021-03-24 11:24:18
18        6marckensia    18        CARIS 2021-03-17 12:15:50
19            6reline   180        CARIS 2021-03-08 05:23:10
20            6rosena     1        CARIS 2021-03-30 09:02:24
21           6solanda    91        CARIS 2021-03-08 19:59:10
22  6verlinedasherley     5        CARIS 2021-03-08 15:55:12
23           6wilmene    19        CARIS 2021-03-28 18:02:25

In [43]:
agent_name = pd.read_excel("caris-test_users_e1a8bf6e7a8849eb8858b64bb02dab1c.xlsx", sheet_name='uname')

## Liste de tous les agents avec Leur nom

In [53]:
agent_name[agent_name['username']=='2gerald']

   username           name
92  2gerald  Gerald Poteau

## MERGE (Vlookup)

In [48]:
performanceAgents = agent_name.merge(agent,on="username",how="inner")

In [50]:
performanceAgents.to_excel("performancedesAgents.xlsx",index=False,na_rep="NULL")

In [49]:
# screening - formulaire d'enrollement
performanceAgents

,username,name,nbre,organisation,entry_date
0,1dialine,Dialine Belony,73,CARIS,2021-03-24 09:51:01
1,1joanne,SAINTILIAS Joanne,12,CARIS,2021-04-17 08:46:33
2,1laurent,Laurent Lucien,46,CARIS,2021-04-19 13:26:44
3,1melienne,INELUS Amelienne,9,CARIS,2021-04-06 10:18:20
4,1monique,Monique Louis Pierre,6,CARIS,2021-04-17 08:32:04
5,2billy,Billy jolicoeur,206,CARIS,2021-03-23 07:30:42
6,2davy,Jean Davy Mexil,14,CARIS,2021-03-29 12:31:51
7,2eliona,Eliona Fredly,237,CARIS,2021-03-26 08:31:43
8,2fabrice,Fabrice Byron,325,CARIS,2021-03-16 09:41:32
9,2woodridchard,Wood-Ridchard Bon,197,CARIS,2021-04-08 09:13:35
10,6celimene,Celimene Laine,110,CARIS,2021-03-12 07:50:01
11,6cousseline,Cousseline Osias,60,CARIS,2021-03-04 05:46:20
12,6dalancia,Dalancia Renelus,27,CARIS,2021-03-09 15:17:46
13,6dulande,Dulande Riboul,12,CARIS,2021-03-17 06:17:15
14,6gerana,Gerana David,1,CARIS,2021-03-19 10:04:27
15,6lorina,Lorina Previlon,65,CARIS,2021-03-24 11:32:09
16,6madeline,Madeline Meus,10,CARIS,2021-03-30 09:38:27
17,6maneuse,Maneuse Previlon,54,CARIS,2021-03-24 11:24:18
18,6marckensia,Marckensia Maurice,18,CARIS,2021-03-17 12:15:50
19,6reline,Reline Augustin,180,CARIS,2021-03-08 05:23:10
20,6rosena,Rosena Saint-Fleurant,1,CARIS,2021-03-30 09:02:24
21,6solanda,Solanda Danestan,91,CARIS,2021-03-08 19:59:10
22,6verlinedasherley,Verlineda Sherley Lubin,5,CARIS,2021-03-08 15:55:12
23,6wilmene,Wilmène Dieujuste,19,CARIS,2021-03-28 18:02:25