In [1]:
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
import pandas as pd
from numpy import int16

In [9]:
import enum
# Using enum class create enumerations
class Days(enum.Enum):
   Sun = 1
   Mon = 2
   Tue = 3

In [27]:
Days.Mon.value

2

In [2]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")
query = '''
    SELECT 
    agent_username, COUNT(*) AS nbre,
    dsd.organisation,
    dsd.created_ad as entry_date
FROM
    caris_db.dreams_surveys_data dsd
WHERE
    dsd.created_ad >= '2021-03-01'
GROUP BY agent_username
'''

agent = pd.read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()

## Agent DREAMS sortant du Systeme

In [3]:
agent.rename(columns={'agent_username':'username'},inplace=True)
agent

             username  nbre organisation          entry_date
0           1annuelle    23        CARIS 2021-04-27 11:30:53
1            1dialine    73        CARIS 2021-03-24 09:51:01
2             1joanne    12        CARIS 2021-04-17 08:46:33
3              1lania    18        CARIS 2021-05-12 15:50:18
4            1laurent    67        CARIS 2021-04-19 13:26:44
5             1lovely    22        CARIS 2021-05-19 14:38:00
6           1melienne     9        CARIS 2021-04-06 10:18:20
7            1monique     6        CARIS 2021-04-17 08:32:04
8              2billy   235        CARIS 2021-03-23 07:30:42
9               2davy    21        CARIS 2021-04-28 10:58:19
10            2eliona   266        CARIS 2021-05-06 07:56:01
11           2fabrice   325        CARIS 2021-03-16 09:41:32
12      2woodridchard   197        CARIS 2021-04-08 09:13:35
13          6celimene   110        CARIS 2021-03-12 07:50:01
14            6charma    29        CARIS 2021-05-07 10:22:42
15        6christlove    14        CARIS 2021-06-07 06:52:51
16        6cousseline    60        CARIS 2021-03-04 05:46:20
17          6dalancia   104        CARIS 2021-06-12 18:40:15
18            6derita     9        CARIS 2021-06-02 12:22:36
19           6dulande    12        CARIS 2021-03-17 06:17:15
20        6georgeline     3        CARIS 2021-06-16 04:52:25
21            6gerana     1        CARIS 2021-03-19 10:04:27
22          6jesumene    28        CARIS 2021-06-04 16:43:47
23            6lorina    65        CARIS 2021-03-24 11:32:09
24   6lovemyschinider     9        CARIS 2021-05-01 19:14:55
25          6ludelene    18        CARIS 2021-05-12 15:38:13
26          6madeline    10        CARIS 2021-03-30 09:38:27
27           6maneuse    54        CARIS 2021-03-24 11:24:18
28        6marckensia    24        CARIS 2021-03-17 12:15:50
29           6midlyne    13        CARIS 2021-05-09 17:25:28
30            6mirtha    34        CARIS 2021-04-29 09:47:58
31            6mislie     8        CARIS 2021-06-13 15:27:21
32            6reline   182        CARIS 2021-03-08 05:23:10
33          6ritamene    28        CARIS 2021-06-01 16:22:33
34          6rosemica    13        CARIS 2021-06-07 06:54:15
35            6rosena     1        CARIS 2021-03-30 09:02:24
36         6saintania    20        CARIS 2021-06-17 06:13:03
37           6solanda   174        CARIS 2021-03-08 19:59:10
38            6soldia    23        CARIS 2021-06-14 14:45:53
39  6verlinedasherley     5        CARIS 2021-03-08 15:55:12
40           6violine    20        CARIS 2021-06-16 18:01:11
41            6wiline    13        CARIS 2021-06-07 06:51:16
42           6wilmene    26        CARIS 2021-06-15 16:31:58
43            6ylanda    30        CARIS 2021-05-24 13:49:01

In [4]:
agent_name = pd.read_excel("caris-test_users_e1a8bf6e7a8849eb8858b64bb02dab1c.xlsx", sheet_name='uname')

## Liste de tous les agents avec Leur nom

In [5]:
#agent_name[agent_name['username']=='2gerald']

## MERGE (Vlookup)

In [6]:
performanceAgents = agent_name.merge(agent,on="username",how="inner")

In [7]:
performanceAgents.to_excel("performancedesAgents.xlsx",index=False,na_rep="NULL")

In [8]:
performanceAgents

,username,name,nbre,organisation,entry_date
0,1annuelle,Annuelle Eustache,23,CARIS,2021-04-27 11:30:53
1,1dialine,Dialine Belony,73,CARIS,2021-03-24 09:51:01
2,1joanne,SAINTILIAS Joanne,12,CARIS,2021-04-17 08:46:33
3,1lania,Lania Dorelus,18,CARIS,2021-05-12 15:50:18
4,1laurent,Laurent Lucien,67,CARIS,2021-04-19 13:26:44
5,1lovely,Lovely Martin,22,CARIS,2021-05-19 14:38:00
6,1melienne,INELUS Amelienne,9,CARIS,2021-04-06 10:18:20
7,1monique,Monique Louis Pierre,6,CARIS,2021-04-17 08:32:04
8,2billy,Billy jolicoeur,235,CARIS,2021-03-23 07:30:42
9,2davy,Jean Davy Mexil,21,CARIS,2021-04-28 10:58:19
10,2eliona,Eliona Fredly,266,CARIS,2021-05-06 07:56:01
11,2fabrice,Fabrice Byron,325,CARIS,2021-03-16 09:41:32
12,2woodridchard,Wood-Ridchard Bon,197,CARIS,2021-04-08 09:13:35
13,6celimene,Celimene Laine,110,CARIS,2021-03-12 07:50:01
14,6charma,Charma Dangervil,29,CARIS,2021-05-07 10:22:42
15,6christlove,Christlove Joseph,14,CARIS,2021-06-07 06:52:51
16,6cousseline,Cousseline Osias,60,CARIS,2021-03-04 05:46:20
17,6dalancia,Dalancia Renelus,104,CARIS,2021-06-12 18:40:15
18,6derita,Derita Jean,9,CARIS,2021-06-02 12:22:36
19,6dulande,Dulande Riboul,12,CARIS,2021-03-17 06:17:15
20,6georgeline,Georgeline Elouicé,3,CARIS,2021-06-16 04:52:25
21,6gerana,Gerana David,1,CARIS,2021-03-19 10:04:27
22,6jesumene,Jesumène Jean-Louis,28,CARIS,2021-06-04 16:43:47
23,6lorina,Lorina Previlon,65,CARIS,2021-03-24 11:32:09
24,6lovemyschinider,Lovemy Schinider Brutus,9,CARIS,2021-05-01 19:14:55
25,6ludelene,Ludelene Stalien,18,CARIS,2021-05-12 15:38:13
26,6madeline,Madeline Meus,10,CARIS,2021-03-30 09:38:27
27,6maneuse,Maneuse Previlon,54,CARIS,2021-03-24 11:24:18
28,6marckensia,Marckensia Maurice,24,CARIS,2021-03-17 12:15:50
29,6midlyne,Midlyne Dorvil,13,CARIS,2021-05-09 17:25:28
30,6mirtha,Mirtha Osalva,34,CARIS,2021-04-29 09:47:58
31,6mislie,Mislie Grand-Pierre,8,CARIS,2021-06-13 15:27:21
32,6reline,Reline Augustin,182,CARIS,2021-03-08 05:23:10
33,6ritamene,Ritamène Fils,28,CARIS,2021-06-01 16:22:33
34,6rosemica,Rosemica Adibon,13,CARIS,2021-06-07 06:54:15
35,6rosena,Rosena Saint-Fleurant,1,CARIS,2021-03-30 09:02:24
36,6saintania,Saintania Bariol,20,CARIS,2021-06-17 06:13:03
37,6solanda,Solanda Danestan,174,CARIS,2021-03-08 19:59:10
38,6soldia,Soldia Eton,23,CARIS,2021-06-14 14:45:53
39,6verlinedasherley,Verlineda Sherley Lubin,5,CARIS,2021-03-08 15:55:12
40,6violine,Violine Pierre,20,CARIS,2021-06-16 18:01:11
41,6wiline,Wiline Azor,13,CARIS,2021-06-07 06:51:16
42,6wilmene,Wilmène Dieujuste,26,CARIS,2021-06-15 16:31:58
43,6ylanda,Ylanda Previlus,30,CARIS,2021-05-24 13:49:01