In [1]:
import os
from datetime import datetime
#from datetime import date
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv
import pandas as pd
from numpy import int16
from enum import Enum

In [2]:
# Using enum class create enumerations
class Constante(Enum):
   march_1_2021 = "2021-03-01"
   specific = "2021-06-28"

In [3]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")
query = f'''
    SELECT 
    agent_username, COUNT(*) AS nbre,
    dsd.organisation,
    dsd.timeEnd as entry_date
FROM
    caris_db.dreams_surveys_data dsd
WHERE
    dsd.timeEnd >= '{Constante.specific.value}'
GROUP BY agent_username
'''

agent = pd.read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()

## Agent DREAMS sortant du Systeme

In [4]:
agent.rename(columns={'agent_username':'username'},inplace=True)
agent

         username  nbre organisation          entry_date
0           2davy    22        CARIS 2021-07-02 19:35:55
1   2diegoarmando     6        CARIS 2021-06-28 13:50:50
2          2ernst    35        CARIS 2021-07-05 09:43:52
3         2gerald     6        CARIS 2021-06-28 15:00:01
4       2roselord    18        CARIS 2021-06-28 19:45:31
5         2wilnes    23        CARIS 2021-07-04 18:15:46
6   2woodridchard     8        CARIS 2021-07-01 13:00:29
7        6dasline    27        CARIS 2021-07-03 13:12:47
8         6fenide    20        CARIS 2021-07-01 19:31:21
9      6francenel    49        CARIS 2021-07-02 18:39:00
10    6fresgaline    20        CARIS 2021-06-28 20:26:17
11       6yousena    11        CARIS 2021-06-29 01:25:35

In [5]:
agent_name = pd.read_excel("caris-test_users_7453177b42914ad2978e3c465e39dab1.xlsx")

In [6]:
agent_name = agent_name[["username","name"]]

## Liste de tous les agents avec Leur nom

In [7]:
agent_name

       username               name
0     1aldonzar     elcie aldonzar
1    1alexandra   Alexandra Joseph
2     1annuelle  Annuelle Eustache
3     1claudius    Claudius Gladys
4      1coldina    Coldina Duverny
..          ...                ...
742    s2julnor    Julnor Beaubrun
743   s2mirlene     Vernet Mirlene
744     stfleur    Jesula St Fleur
745  sylvietest    sylvie rousseau
746      yandre         Yves Andre

[747 rows x 2 columns]

## MERGE (Vlookup)

In [8]:
performanceAgents = agent_name.merge(agent,on="username",how="inner")

In [9]:
performanceAgents.to_excel("performancedesAgents.xlsx",index=False,na_rep="NULL")

In [10]:
performanceAgents

,username,name,nbre,organisation,entry_date
0,2davy,Jean Davy Mexil,22,CARIS,2021-07-02 19:35:55
1,2diegoarmando,Diego Armando Dorlean,6,CARIS,2021-06-28 13:50:50
2,2ernst,Ernst Belabre,35,CARIS,2021-07-05 09:43:52
3,2gerald,Gerald Poteau,6,CARIS,2021-06-28 15:00:01
4,2roselord,Rose-Lord Despeignes,18,CARIS,2021-06-28 19:45:31
5,2wilnes,Gerant Louis Wilnes,23,CARIS,2021-07-04 18:15:46
6,2woodridchard,Wood-Ridchard Bon,8,CARIS,2021-07-01 13:00:29
7,6dasline,Dasline Sajet,27,CARIS,2021-07-03 13:12:47
8,6fenide,FÃ©nide SÃ¨vÃ¨re,20,CARIS,2021-07-01 19:31:21
9,6francenel,Francenel Dessalines,49,CARIS,2021-07-02 18:39:00
10,6fresgaline,Fresgaline Alexis,20,CARIS,2021-06-28 20:26:17
11,6yousena,Yousena DÃ©mosthene,11,CARIS,2021-06-29 01:25:35

In [11]:
performanceAgents.nbre.sum()

245