In [1]:
%run "../LOS.ipynb"

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
df = dreams_mastersheet

# Base Cohorte

In [4]:
base_cohort = df[
    (df.age_range!="not_valid_age")
    &(df.age_range!="25-29")
    &(df.timeOn_system=="required_Time_on")
]
base_cohort.code.count()

18388

In [9]:
grp_all =  pd.read_excel("./repartitions/liste_filles_eligibles_parenting_Repartition de Groupe (2).xlsx",sheet_name="All")
grp_all.rename(columns={'dreams_code':'code'},inplace=True)
grp_all.code.count()                           

grp_ouest =  pd.read_excel("./repartitions/liste_filles_eligibles_parenting_Repartition de Groupe (2).xlsx",sheet_name="Eligible Parenting P-au-P")
grp_ouest.rename(columns={'dreams_code':'code'},inplace=True)
grp_ouest.code.count()

3072

1324

# Verfication des Beneficiaires OUEST

In [14]:
code_ouest = grp_ouest[['code']]

verification_ouest = code_ouest.merge(base_cohort,how='left',on='code')
verification_ouest.code.count()

1324

In [16]:
verification_ouest.to_excel('verification_ouest_services.xlsx',na_rep="NULL",index=False)

## Curriculum OUEST

In [18]:
verification_ouest.pivot_table(index=["actual_departement",'actual_commune'],columns="dreams_curriculum",
                        values='code',
                        aggfunc='count',
                        fill_value=0,
                        margins=True,
                        margins_name="Grand Total"                             
)

dreams_curriculum                  curriculum_completed  curriculum_inc  \
actual_departement actual_commune
Ouest              Carrefour                        187               2
                   Delmas                            47               5
                   Gressier                          95              22
                   Kenscoff                         714              40
                   Port-au-Prince                    75               3
                   Pétionville                       36               2
                   Tabarre                           96               0
Grand Total                                        1250              74

dreams_curriculum                  Grand Total
actual_departement actual_commune
Ouest              Carrefour               189
                   Delmas                   52
                   Gressier                117
                   Kenscoff                754
                   Port-au-Prince           78
                   Pétionville              38
                   Tabarre                  96
Grand Total                               1324

In [20]:
curriculum_ouest_completed = verification_ouest[
   (verification_ouest.dreams_curriculum=="curriculum_completed")   
].code.count()

curriculum_ouest_incomplet = verification_ouest[
   (verification_ouest.curriculum=="curriculum incomplet")   
].code.count()

curriculum_ouest_non_recu = verification_ouest[
   (verification_ouest.curriculum=="non-recu")   
].code.count()


curriculum_ouest_completed
curriculum_ouest_incomplet
curriculum_ouest_non_recu

1250

74

0