In [1]:
from requests import get
from requests.auth import HTTPBasicAuth
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame, read_sql_query
import pymysql
from sqlalchemy import create_engine
from decouple import config 
from dotenv import load_dotenv

from core.settings import setting



InteractiveShell.ast_node_interactivity = "all"

In [2]:
oauth = HTTPBasicAuth(setting.email_comcare,setting.password_comcare)

In [3]:
pay = {'xmlns':setting.xmlns, 'limit':setting.limit}
forms = get(setting.form_base_url,auth=oauth,params=pay).json()
__objects = forms["objects"]
__meta = forms["meta"]
print(__meta)

while __meta["next"]:
    __forms = get(f"""{setting.form_base_url}{__meta['next']}""",auth=oauth).json()
    __objects += __forms["objects"]
    __meta = __forms["meta"]

len(__objects)

{'limit': 1000, 'next': '?xmlns=http%3A%2F%2Fopenrosa.org%2Fformdesigner%2FDD8FE78F-C33C-4D7D-A63B-AEDFF3A85279&limit=1000&offset=1000', 'offset': 0, 'previous': None, 'total_count': 4308}

4308

In [4]:
pay_cases = {'type':setting.types,'limit':setting.caselimit}
form_cases = get(setting.case_base_url,auth=oauth,params=pay_cases).json()
__objects_cases = form_cases["objects"]
__meta_cases = form_cases["meta"]
print(__meta_cases)

while __meta_cases["next"]:
    __form_cases = get(f"""{setting.case_base_url}{__meta_cases['next']}""",auth=oauth).json()
    __objects_cases += __form_cases["objects"]
    __meta_cases = __form_cases["meta"]

len(__objects_cases)

{'limit': 5000, 'next': '?type=muso_household_2022&limit=5000&offset=5000', 'offset': 0, 'previous': None, 'total_count': 7633}

7633

In [5]:
beneficiare_direct = DataFrame(list(
    map(
        lambda k: {
            "userID":k['metadata']['userID'],
            "username":k['metadata']['username'],
            "timeEnd": k['metadata']['timeEnd'],
            "case_id": k['form']['case']['@case_id'],
            "houseold_number_2022": k['form']['household_number'],
            "db_name": k['form']['nom'],
            "db_first_name": k['form']['prenom']
        } 
        ,__objects
    )
))

beneficiare_direct.drop_duplicates('case_id',inplace=True)
beneficiare_direct.reset_index(drop=True)
#beneficiare_direct.case_id.value_counts()

beneficiare_direct.case_id.count()

                                userID  ... db_first_name
0     8fd7f28e6c31484993c3153565feb429  ...        Phenel
1     8fd7f28e6c31484993c3153565feb429  ...       Vanessa
2     8fd7f28e6c31484993c3153565feb429  ...      Valencia
3     8fd7f28e6c31484993c3153565feb429  ...        Yvette
4     8fd7f28e6c31484993c3153565feb429  ...        Jolens
...                                ...  ...           ...
4162  02a25cddec634621822ccaa4657f8246  ...        Widlet
4163  02a25cddec634621822ccaa4657f8246  ...    John Evens
4164  02a25cddec634621822ccaa4657f8246  ...          Sony
4165  02a25cddec634621822ccaa4657f8246  ...        Lovena
4166  436b6c0759934988b5cf76ced1c46bfd  ...        Kenold

[4167 rows x 7 columns]

4167

In [6]:
beneficiare_indirect = DataFrame(list(
    map(
        lambda k: {
            "userID": k['user_id'],
            "ib_case_id": k['case_id'],
            "age": k['properties']['age'],
            "sexe": k['properties']['sexe'],
            "arv": k['properties']['arv'],
            "test": k['properties']['test'],
            "ib_case_id": k['case_id'],
            "parent_case_id": k['indices']['parent']['case_id'],
            "relationship": k['indices']['parent']['relationship'],
        } 
        ,__objects_cases
    )
))

beneficiare_indirect
beneficiare_indirect.ib_case_id.count()

                                userID  ... relationship
0     436b6c0759934988b5cf76ced1c46bfd  ...        child
1     02a25cddec634621822ccaa4657f8246  ...        child
2     02a25cddec634621822ccaa4657f8246  ...        child
3     02a25cddec634621822ccaa4657f8246  ...        child
4     02a25cddec634621822ccaa4657f8246  ...        child
...                                ...  ...          ...
7628  8fd7f28e6c31484993c3153565feb429  ...        child
7629  8fd7f28e6c31484993c3153565feb429  ...        child
7630  8fd7f28e6c31484993c3153565feb429  ...        child
7631  8fd7f28e6c31484993c3153565feb429  ...        child
7632  8fd7f28e6c31484993c3153565feb429  ...        child

[7633 rows x 8 columns]

7633

In [8]:
load_dotenv()
# get the environment variables needed
USER= config('USRCaris')
PASSWORD= config('PASSCaris')
HOSTNAME= config('HOSTCaris')
DBNAME= config('DBCaris')

# get the engine to connect and fetch
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOSTNAME}/{DBNAME}")

query = f'''
SELECT
	au.username,
	au.email,
	count(*) as qty
FROM
	muso_household_2022 mh
	LEFT JOIN auth_users au ON mh.created_by = au.id
	group by au.username
'''

muso_hiv = read_sql_query(query,engine,parse_dates=True)
# get the test excel file from Query

# close the pool of connection
engine.dispose()

True

In [9]:
muso_hiv

        username                                   email  qty
0        Gustave   firma.gustave@carisfoundationintl.org   65
1  judesonvOLMAR  judeson.volmar@carisfoundationintl.org   26
2        suzanne  suzanne.clerge@carisfoundationintl.org  212