In [1]:
from requests import get
from requests.auth import HTTPBasicAuth
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame

from core.settings import setting



InteractiveShell.ast_node_interactivity = "all"

In [2]:
oauth = HTTPBasicAuth(setting.email_comcare,setting.password_comcare)

In [3]:
pay = {'xmlns':setting.xmlns, 'limit':setting.limit}
forms = get(setting.form_base_url,auth=oauth,params=pay).json()
__objects = forms["objects"]
__meta = forms["meta"]
print(__meta)

while __meta["next"]:
    __forms = get(f"""{setting.form_base_url}{__meta['next']}""",auth=oauth).json()
    __objects += __forms["objects"]
    __meta = __forms["meta"]

len(__objects)

{'limit': 1000, 'next': '?xmlns=http%3A%2F%2Fopenrosa.org%2Fformdesigner%2FDD8FE78F-C33C-4D7D-A63B-AEDFF3A85279&limit=1000&offset=1000', 'offset': 0, 'previous': None, 'total_count': 2980}

2980

In [4]:
pay_cases = {'type':setting.types,'limit':setting.caselimit}
form_cases = get(setting.case_base_url,auth=oauth,params=pay_cases).json()
__objects_cases = form_cases["objects"]
__meta_cases = form_cases["meta"]
print(__meta_cases)

while __meta_cases["next"]:
    __form_cases = get(f"""{setting.case_base_url}{__meta_cases['next']}""",auth=oauth).json()
    __objects_cases += __form_cases["objects"]
    __meta_cases = __form_cases["meta"]

len(__objects_cases)

{'limit': 5000, 'next': '?type=muso_household_2022&limit=5000&offset=5000', 'offset': 0, 'previous': None, 'total_count': 5198}

5198

In [5]:
beneficiare_direct = DataFrame(list(
    map(
        lambda k: {
            "userID":k['metadata']['userID'],
            "username":k['metadata']['username'],
            "timeEnd": k['metadata']['timeEnd'],
            "case_id": k['form']['case']['@case_id'],
            "houseold_number_2022": k['form']['household_number'],
            "db_name": k['form']['nom'],
            "db_first_name": k['form']['prenom']
        } 
        ,__objects
    )
))

beneficiare_direct.drop_duplicates('case_id',inplace=True)
beneficiare_direct.reset_index(drop=True)
#beneficiare_direct.case_id.value_counts()

beneficiare_direct.case_id.count()

,userID,username,timeEnd,case_id,houseold_number_2022,db_name,db_first_name
0,8fd7f28e6c31484993c3153565feb429,cmariedanielle,2022-03-03T15:21:16.064000Z,cb9cf4ca28594168b7383643405830a2,2,Julienne,Similien
1,ece16e9f4d2c468e961d2b56ff621a2e,myvelise,2022-03-03T15:19:14.087000Z,4a2e9fd6e36e43b9ac32dd5d832259db,3,Jean Louis,Yonel
2,8fd7f28e6c31484993c3153565feb429,cmariedanielle,2022-03-03T15:17:34.465000Z,5871978d91844d528efc452b472ef953,4,Ritha,Dominique
3,ece16e9f4d2c468e961d2b56ff621a2e,myvelise,2022-03-03T15:16:50.994000Z,a3424a226eaf45eca9b98104fad73724,0,Noel,Djeniffka
4,8fd7f28e6c31484993c3153565feb429,cmariedanielle,2022-03-03T15:15:52.633000Z,aa9170ea03ca40128229885d77456dda,3,Sandra,Joseph
...,...,...,...,...,...,...,...
2843,02a25cddec634621822ccaa4657f8246,mcarthur,2022-02-16T20:41:26.240000Z,88881743-96fe-4e4b-b9e8-5bd30490ad8f,0,Diaquot,Widlet
2844,02a25cddec634621822ccaa4657f8246,mcarthur,2022-02-16T20:34:11.744000Z,7f6fc269-d750-44e1-b4cf-7446a14960a8,0,Darisma,John Evens
2845,02a25cddec634621822ccaa4657f8246,mcarthur,2022-02-16T20:26:50.145000Z,c2792c70-6b09-4f69-b2d4-69cc4498ed10,0,Guerrelus,Sony
2846,02a25cddec634621822ccaa4657f8246,mcarthur,2022-02-16T20:02:48.005000Z,724681f8-f8bd-4fb4-a0b4-c20c1c0b82d0,0,Vincent,Lovena
2847,436b6c0759934988b5cf76ced1c46bfd,gfaudener,2022-02-16T17:25:28.929000Z,a81e3aa1b7f3470b8c064788445145e3,1,Bruce,Kenold

2848

In [6]:
beneficiare_indirect = DataFrame(list(
    map(
        lambda k: {
            "userID": k['user_id'],
            "ib_case_id": k['case_id'],
            "age": k['properties']['age'],
            "sexe": k['properties']['sexe'],
            "arv": k['properties']['arv'],
            "test": k['properties']['test'],
            "ib_case_id": k['case_id'],
            "parent_case_id": k['indices']['parent']['case_id'],
            "relationship": k['indices']['parent']['relationship'],
        } 
        ,__objects_cases
    )
))

beneficiare_indirect
beneficiare_indirect.ib_case_id.count()

,userID,ib_case_id,age,sexe,arv,test,parent_case_id,relationship
0,436b6c0759934988b5cf76ced1c46bfd,ca6f342b-7499-4ea3-b9ee-39bec46638a6,2,2,non,non,a81e3aa1b7f3470b8c064788445145e3,child
1,02a25cddec634621822ccaa4657f8246,4a475221-a783-418b-9fcc-42c7ca03a7bd,4,2,non,non,582af9cc-0efa-4c6e-a407-d3d3ad15724f,child
2,02a25cddec634621822ccaa4657f8246,6b409fc6-cb35-411a-bf82-08987e4ef1c2,6,1,non,non,582af9cc-0efa-4c6e-a407-d3d3ad15724f,child
3,02a25cddec634621822ccaa4657f8246,39598e5b-1598-4fc5-96c1-ab962fb7d99d,11,1,non,non,582af9cc-0efa-4c6e-a407-d3d3ad15724f,child
4,02a25cddec634621822ccaa4657f8246,82d333a5-444c-4f2c-bea4-f06dc1d2162d,16,1,non,non,582af9cc-0efa-4c6e-a407-d3d3ad15724f,child
...,...,...,...,...,...,...,...,...
5193,ece16e9f4d2c468e961d2b56ff621a2e,0a2a13a3-a2ac-4ece-ade3-2f3118125327,14,2,non,non,4a2e9fd6e36e43b9ac32dd5d832259db,child
5194,ece16e9f4d2c468e961d2b56ff621a2e,fccdc499-4ef2-4e68-8a02-577a4c39ec51,11,1,non,non,4a2e9fd6e36e43b9ac32dd5d832259db,child
5195,8fd7f28e6c31484993c3153565feb429,bd3b75b2-3e1d-43cc-8314-f6f0fdc63bd4,11,1,non,non,cb9cf4ca28594168b7383643405830a2,child
5196,8fd7f28e6c31484993c3153565feb429,a0ea0494-176e-473a-9110-d04e61bb57d2,7,2,non,non,cb9cf4ca28594168b7383643405830a2,child
5197,8fd7f28e6c31484993c3153565feb429,eb3bce9c-05c2-4737-a7a7-91f9aa24a741,3,2,non,non,75e8e9c7a99d459c8490cabbb0f298fd,child

5198